<ng-container *ngIf="route.children.length === 0">

    <app-page-title title="Responses"></app-page-title>

    <div class="card border-0">

        <div class="card-body">

            <form (submit)="runSearch(0)" novalidate>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <questionnaire-select id="questionnaireId" name="questionnaireId" [(ngModel)]="searchOptions.questionnaireId"></questionnaire-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <entity-select id="entityId" name="entityId" [(ngModel)]="searchOptions.entityId"></entity-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <date-select id="dateId" name="dateId" [(ngModel)]="searchOptions.dateId"></date-select>
                        </div>
                    </div>

                </div>

                <fieldset class="mt-3">

                    <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>

                </fieldset>

            </form>

        </div>

    </div>

    <div class="card border-0">

        <div class="card-header border-0 card-header-space-between">
            <h4 class="card-header-title text-uppercase">Responses</h4>
        </div>

        <div class="table-responsive">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Questionnaire</th>
                        <th>Entity</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let response of responses" (click)="goToResponse(response)">
                        <td>{{ response.questionnaire.name }}</td>
                        <td>{{ response.entity.name }}</td>
                        <td>{{ response.date.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
