<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

        <div class="card card-edit">

            <div class="card-header">

                <div class="card-header-title">
                    <h4>Response</h4>
                </div>

            </div>

            <div class="card-body">

                <fieldset class="group">

                    <div class="row gx-3">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': entityId.invalid }">

                                <label for="entityId">
                                    Entity:
                                </label>

                                <entity-select id="entityId" name="entityId" [(entity)]="response.entity" [(ngModel)]="response.entityId" #entityId="ngModel" required [entityType]="entityType"></entity-select>

                                <div *ngIf="entityId.errors?.required" class="invalid-feedback">
                                    Entity is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': dateId.invalid }">

                                <label for="dateId">
                                    Date:
                                </label>

                                <date-select id="dateId" name="dateId" [(date)]="response.date" [(ngModel)]="response.dateId" #dateId="ngModel" required [dateType]="dateType"></date-select>

                                <div *ngIf="dateId.errors?.required" class="invalid-feedback">
                                    Date is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': publicCode.invalid }">

                                <label for="publicCode">
                                    Public Code:
                                </label>

                                <div class="input-group">
                                    <input id="publicCode" name="publicCode" class="form-control" type="text" [(ngModel)]="response.publicCode" #publicCode="ngModel" maxlength="50" />
                                    <button class="btn btn-secondary" type="button" (click)="copyUrl()" [disabled]="!response.publicCode"><i class="fas fa-fw fa-link"></i></button>
                                </div>

                                <div *ngIf="publicCode.errors?.maxlength" class="invalid-feedback">
                                    Public Code must be at most 50 characters long
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': openFrom.invalid }">

                                <label for="openFrom">
                                    Open From:
                                </label>

                                <div class="input-group">
                                    <input id="openFrom" name="openFrom" class="form-control" type="text" [(ngModel)]="response.openFrom" #openFrom="ngModel" placeholder="yyyy-mm-dd" ngbDatepicker #dpOpenFrom="ngbDatepicker" tabindex="-1" (click)="dpOpenFrom.toggle()" container="body" />
                                    <button class="btn btn-secondary calendar" (click)="dpOpenFrom.toggle()" type="button"><i class="fas fa-fw fa-calendar-alt"></i></button>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': openTo.invalid }">

                                <label for="openTo">
                                    Open To:
                                </label>

                                <div class="input-group">
                                    <input id="openTo" name="openTo" class="form-control" type="text" [(ngModel)]="response.openTo" #openTo="ngModel" placeholder="yyyy-mm-dd" ngbDatepicker #dpOpenTo="ngbDatepicker" tabindex="-1" (click)="dpOpenTo.toggle()" container="body" />
                                    <button class="btn btn-secondary calendar" (click)="dpOpenTo.toggle()" type="button"><i class="fas fa-fw fa-calendar-alt"></i></button>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="totalQuestions">
                                    Total Questions:
                                </label>

                                <input id="totalQuestions" name="totalQuestions" class="form-control" type="text" readonly value="{{response.totalQuestions}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="applicableQuestions">
                                    Applicable Questions:
                                </label>

                                <input id="applicableQuestions" name="applicableQuestions" class="form-control" type="text" readonly value="{{response.applicableQuestions}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="completedQuestions">
                                    Completed Questions:
                                </label>

                                <input id="completedQuestions" name="completedQuestions" class="form-control" type="text" readonly value="{{response.completedQuestions}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="createdOnUtc">
                                    Created On:
                                </label>

                                <input id="createdOnUtc" name="createdOnUtc" class="form-control" type="text" readonly value="{{response.createdOnUtc | momentPipe: 'DD MMM YYYY HH:mm'}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="lastAnsweredOnUtc">
                                    Last Answered On:
                                </label>

                                <input id="lastAnsweredOnUtc" name="lastAnsweredOnUtc" class="form-control" type="text" readonly value="{{response.lastAnsweredOnUtc | momentPipe: 'DD MMM YYYY HH:mm'}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="submittedOnUtc">
                                    Submitted On:
                                </label>

                                <input id="submittedOnUtc" name="submittedOnUtc" class="form-control" type="text" readonly value="{{response.submittedOnUtc | momentPipe: 'DD MMM YYYY HH:mm'}}" />

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">

                                <label for="submittedById">
                                    Submitted By:
                                </label>

                                <user-select id="submittedById" name="submittedById" [(user)]="response.submittedBy" [(ngModel)]="response.submittedById" readonly disabled></user-select>

                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
            <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
            <button type="button" *ngIf="!isNew" class="btn btn-outline-secondary me-2 mb-1" (click)="download()">Download<i class="fas fa-cloud-download ms-2"></i></button>
            <button type="button" *ngIf="!isNew && response.questionnaire?.calculateProgress" class="btn btn-outline-secondary me-2 mb-1" (click)="recalculate()">Recalculate<i class="fas fa-calculator ms-2"></i></button>
            <button type="button" *ngIf="!isNew && response.submitted" class="btn btn-outline-secondary me-2 mb-1" (click)="unsubmit()">Unsubmit<i class="fas fa-undo ms-2"></i></button>
        </div>

    </form>

    <ng-container *ngIf="!isNew">

        <nav ngbNav #nav="ngbNav" class="nav-tabs">

            <ng-container ngbNavItem>

                <a ngbNavLink>Answers</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Answers</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Answers" [routerLink]="['./answers', 'add']"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showAnswersSearch=!showAnswersSearch" ngbTooltip="Toggle search options"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showAnswersSearch" @FadeThenShrink>

                            <form id="formSearchAnswers" (submit)="searchAnswers(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <input type="search" name="q" id="q" [(ngModel)]="answersSearchOptions.q" max="100" class="form-control" placeholder="Search answers" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <question-select id="questionId" name="questionId" [(ngModel)]="answersSearchOptions.questionId"></question-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Question</th>
                                        <th>Value</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteAnswers()" ngbTooltip="Delete all answers" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let answer of answers" (click)="goToAnswer(answer)">
                                        <td>{{ answer.question.code }}</td>
                                        <td>{{ answer.value }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteAnswer(answer, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="answersHeaders" (pageChanged)="searchAnswers($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

        </nav>

        <div [ngbNavOutlet]="nav" class="mt-1"></div>

    </ng-container>

</ng-container>

<router-outlet></router-outlet>

