<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-list">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Fields</h4>
                <div>
                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Field" [routerLink]="['./', 'add']"></i>
                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
                    <i class="fa fa-fw ms-1 fa-sort cursor-pointer" ngbTooltip="Sort Fields" (click)="showSort()"></i>
                </div>
            </div>

        </div>

        <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

            <form (submit)="runSearch(0)" novalidate>

                <div class="row g-2">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <input type="search" name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search fields" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select id="fieldType" name="fieldType" [(ngModel)]="searchOptions.fieldType" #fieldType="ngModel" class="form-select">
                                <option [ngValue]="undefined" disabled>Field Type</option>
                                <option *ngFor="let fieldType of fieldTypes" [ngValue]="fieldType.value">{{ fieldType.label }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="form-group">
                            <select id="organisation" name="organisation" [(ngModel)]="searchOptions.organisation" #organisation="ngModel" class="form-select">
                                <option [ngValue]="undefined">Organisation: Any</option>
                                <option [ngValue]="true">Organisation: Yes</option>
                                <option [ngValue]="false">Organisation: No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="form-group">
                            <select id="entity" name="entity" [(ngModel)]="searchOptions.entity" #entity="ngModel" class="form-select">
                                <option [ngValue]="undefined">Entity: Any</option>
                                <option [ngValue]="true">Entity: Yes</option>
                                <option [ngValue]="false">Entity: No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="form-group">
                            <select id="indicator" name="indicator" [(ngModel)]="searchOptions.indicator" #indicator="ngModel" class="form-select">
                                <option [ngValue]="undefined">Indicator: Any</option>
                                <option [ngValue]="true">Indicator: Yes</option>
                                <option [ngValue]="false">Indicator: No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <group-select id="groupId" name="groupId" [(ngModel)]="searchOptions.groupId"></group-select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Field Type</th>
                        <th>Organisation</th>
                        <th>Entity</th>
                        <th>Indicator</th>
                        <th>Component</th>
                        <th>Relationship</th>
                        <th>Folder</th>
                        <th>Required</th>
                        <th>Size</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let field of fields" (click)="goToField(field)">
                        <td>{{ field.name }}</td>
                        <td>{{ fieldTypes[field.fieldType].label }}</td>
                        <td>{{ field.organisation | booleanPipe }}</td>
                        <td>{{ field.entity | booleanPipe }}</td>
                        <td>{{ field.indicator | booleanPipe }}</td>
                        <td>{{ field.component | booleanPipe }}</td>
                        <td>{{ field.relationship | booleanPipe }}</td>
                        <td>{{ field.folder | booleanPipe }}</td>
                        <td>{{ field.required | booleanPipe }}</td>
                        <td>{{ sizes[field.size].label }}</td>
                        <td>{{ field.group?.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
