<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="section" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" *ngIf="!disabled">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !section && !sections?.length, 'fa-times': !!section || !!sections?.length }"></i>
    </button>
</div>

<section-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [questionnaire]="questionnaire" [showAddNew]="showAddNew" [title]="placeholder" [selectedItems]="sections"></section-modal>
