<app-page-title></app-page-title>

<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card card-edit">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Entity</h4>
            </div>

        </div>

        <div class="card-body">

            <fieldset class="group">

                <div class="row g-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                            <label for="name">
                                Name:
                            </label>

                            <input id="name" name="name" class="form-control" type="text" [(ngModel)]="entity.name" #name="ngModel" required (ngModelChange)="changeBreadcrumb()" maxlength="200" />

                            <div *ngIf="name.errors?.required" class="invalid-feedback">
                                Name is required
                            </div>

                            <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                                Name must be at most 200 characters long
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': code.invalid }">

                            <label for="code">
                                Code:
                            </label>

                            <input id="code" name="code" class="form-control" type="text" [(ngModel)]="entity.code" #code="ngModel" required maxlength="25" />

                            <div *ngIf="code.errors?.required" class="invalid-feedback">
                                Code is required
                            </div>

                            <div *ngIf="code.errors?.maxlength" class="invalid-feedback">
                                Code must be at most 25 characters long
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': entityTypeId.invalid }">

                            <label for="entityTypeId">
                                Entity Type:
                            </label>

                            <entity-type-select id="entityTypeId" name="entityTypeId" [(entityType)]="entity.entityType" [(ngModel)]="entity.entityTypeId" #entityTypeId="ngModel" required [disabled]="!isNew"></entity-type-select>

                            <div *ngIf="entityTypeId.errors?.required" class="invalid-feedback">
                                Entity Type is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': organisationId.invalid }">

                            <label for="organisationId">
                                Organisation:
                            </label>

                            <organisation-select id="organisationId" name="organisationId" [(organisation)]="entity.organisation" [(ngModel)]="entity.organisationId" #organisationId="ngModel"></organisation-select>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': shortName.invalid }">

                            <label for="shortName">
                                Short Name:
                            </label>

                            <input id="shortName" name="shortName" class="form-control" type="text" [(ngModel)]="entity.shortName" #shortName="ngModel" required maxlength="50" />

                            <div *ngIf="shortName.errors?.required" class="invalid-feedback">
                                Short Name is required
                            </div>

                            <div *ngIf="shortName.errors?.maxlength" class="invalid-feedback">
                                Short Name must be at most 50 characters long
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': disabled.invalid }">

                            <label for="disabled">
                                Disabled:
                            </label>

                            <div class="form-check">
                                <input id="disabled" name="disabled" class="form-check-input" type="checkbox" [(ngModel)]="entity.disabled" #disabled="ngModel" />
                                <label class="form-check-label" for="disabled">
                                    Disabled
                                </label>
                            </div>

                        </div>
                    </div>

                    <ng-container *ngFor="let field of fields | groupPipe : null">

                        <!--[(file)]="files[field.fieldId]" (downloadClicked)="download($event)"-->
                        <field [field]="field" id="{{field.fieldId}}" name="{{field.fieldId}}" [ngModel]="fieldValues.get(field.fieldId)" (ngModelChange)="fieldValues.set(field.fieldId, $event)" [fieldValues]="fieldValues" class="{{field | fieldSizePipe}}"></field>

                    </ng-container>

                </div>

            </fieldset>

            <ng-container *ngFor="let group of groups">

                <fieldset class="group">

                    <legend>{{group.name}}</legend>

                    <div class="row g-3">

                        <ng-container *ngFor="let field of fields | groupPipe : group.groupId">

                            <!--[(file)]="files[field.fieldId]" (downloadClicked)="download($event)"-->
                            <field [field]="field" id="{{field.fieldId}}" name="{{field.fieldId}}" [ngModel]="fieldValues.get(field.fieldId)" (ngModelChange)="fieldValues.set(field.fieldId, $event)" [fieldValues]="fieldValues" class="{{field | fieldSizePipe}}"></field>

                        </ng-container>

                    </div>

                </fieldset>

            </ng-container>

        </div>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    </div>

</form>

<ng-container *ngIf="!isNew">

    <nav ngbNav #nav="ngbNav" class="nav-tabs">

        <ng-container ngbNavItem>

            <a ngbNavLink>Entity Permissions</a>

            <ng-template ngbNavContent>

                <div class="card card-list">

                    <div class="card-header">

                        <div class="card-header-title">
                            <h4>Entity Permissions</h4>
                            <div>
                                <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showEntityPermissionsSearch=!showEntityPermissionsSearch" ngbTooltip="Toggle search options"></i>
                            </div>
                        </div>

                    </div>

                    <div class="card-body" *ngIf="showEntityPermissionsSearch" @FadeThenShrink>

                        <form id="formSearchEntityPermissions" (submit)="searchEntityPermissions(0)" novalidate>

                            <div class="row g-2">

                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <user-select id="userId" name="userId" [(ngModel)]="entityPermissionsSearchOptions.userId"></user-select>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>User</th>
                                    <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteEntityPermissions()" ngbTooltip="Delete all entity permissions" container="body" placement="left"></i></th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let entityPermission of entityPermissions" (click)="goToEntityPermission(entityPermission)">
                                    <td>{{ entityPermission.user.fullName }}</td>
                                    <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteEntityPermission(entityPermission, $event)"></i></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <pager [headers]="entityPermissionsHeaders" (pageChanged)="searchEntityPermissions($event)"></pager>
                    </div>

                </div>

            </ng-template>

        </ng-container>

        <ng-container ngbNavItem>

            <a ngbNavLink>Aggregation Parents</a>

            <ng-template ngbNavContent>

                <div class="card card-list">

                    <div class="card-header">

                        <div class="card-header-title">
                            <h4>Aggregation Parents</h4>
                            <div>
                                <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showParentEntitiesSearch=!showParentEntitiesSearch" ngbTooltip="Toggle search options"></i>
                            </div>
                        </div>

                    </div>

                    <div class="card-body" *ngIf="showParentEntitiesSearch" @FadeThenShrink>

                        <form id="formSearchParentEntities" (submit)="searchParentEntities(0)" novalidate>

                            <div class="row g-2">

                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <entity-select id="parentEntityId" name="parentEntityId" [(ngModel)]="parentEntitiesSearchOptions.parentEntityId"></entity-select>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Parent Entity</th>
                                    <th>Parent Type</th>
                                    <th class="w-20px text-center"><i class="fas fa-times"></i></th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let entityLink of parentEntities" (click)="goToEntityLink(entityLink)">
                                    <td>{{ entityLink.parentEntity.name }}</td>
                                    <td>{{ entityLink.parentEntity.entityType.name }}</td>
                                    <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteParentEntity(entityLink, $event)"></i></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <pager [headers]="parentEntitiesHeaders" (pageChanged)="searchParentEntities($event)"></pager>
                    </div>

                </div>

            </ng-template>

        </ng-container>

        <ng-container ngbNavItem>

            <a ngbNavLink>Responses</a>

            <ng-template ngbNavContent>

                <div class="card card-list">

                    <div class="card-header">

                        <div class="card-header-title">
                            <h4>Responses</h4>
                            <div>
                                <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showResponsesSearch=!showResponsesSearch" ngbTooltip="Toggle search options"></i>
                            </div>
                        </div>

                    </div>

                    <div class="card-body" *ngIf="showResponsesSearch" @FadeThenShrink>

                        <form id="formSearchResponses" (submit)="searchResponses(0)" novalidate>

                            <div class="row g-2">

                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <questionnaire-select id="questionnaireId" name="questionnaireId" [(ngModel)]="responsesSearchOptions.questionnaireId"></questionnaire-select>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <date-select id="dateId" name="dateId" [(ngModel)]="responsesSearchOptions.dateId"></date-select>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Questionnaire</th>
                                    <th>Date</th>
                                    <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteResponses()" ngbTooltip="Delete all responses" container="body" placement="left"></i></th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let response of responses" (click)="goToResponse(response)">
                                    <td>{{ response.questionnaire.name }}</td>
                                    <td>{{ response.date.name }}</td>
                                    <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteResponse(response, $event)"></i></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <pager [headers]="responsesHeaders" (pageChanged)="searchResponses($event)"></pager>
                    </div>

                </div>

            </ng-template>

        </ng-container>

        <ng-container ngbNavItem>

            <a ngbNavLink>Aggregation Children</a>

            <ng-template ngbNavContent>

                <div class="card card-list">

                    <div class="card-header">

                        <div class="card-header-title">
                            <h4>Aggregation Children</h4>
                        </div>

                    </div>

                    <div class="card-body" *ngIf="showResponsesSearch" @FadeThenShrink>

                        <form id="formSearchChildEntities" (submit)="searchChildEntities(0)" novalidate>

                            <div class="row g-3">

                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="form-group">
                                        <entity-select id="childEntityId" name="childEntityId" [(ngModel)]="childEntitiesSearchOptions.childEntityId"></entity-select>
                                    </div>
                                </div>

                            </div>

                        </form>

                        <div class="mb-3">
                            <button *ngIf="!showChildEntitiesSearch" type="button" class="btn btn-outline-secondary me-2 mb-1" (click)="showChildEntitiesSearch=true">Filter<i class="fas fa-filter ms-2"></i></button>
                            <button *ngIf="showChildEntitiesSearch" form="formSearchChildEntities" type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                        </div>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Child Entity</th>
                                    <th>Child Type</th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let entityLink of childEntities" (click)="goToEntityLink(entityLink)">
                                    <td>{{ entityLink.childEntity.name }}</td>
                                    <td>{{ entityLink.childEntity.entityType.name }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <pager [headers]="childEntitiesHeaders" (pageChanged)="searchChildEntities($event)"></pager>
                    </div>

                </div>

            </ng-template>

        </ng-container>

        <ng-container ngbNavItem>

            <a ngbNavLink>Documents</a>

            <ng-template ngbNavContent>

                <div class="card card-list">

                    <div class="card-header">

                        <div class="card-header-title">
                            <h4>Documents</h4>
                            <div>
                                <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Document" (click)="showDocumentManageModal()"></i>
                                <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showDocumentsSearch=!showDocumentsSearch" ngbTooltip="Toggle search options"></i>
                            </div>
                        </div>

                    </div>

                    <div class="card-body" *ngIf="showDocumentsSearch" @FadeThenShrink>

                        <form id="formSearchDocuments" (submit)="searchDocuments(0)" novalidate>

                            <div class="row g-2">

                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <input type="search" name="q" id="q" [(ngModel)]="documentSearchOptions.q" max="100" class="form-control" placeholder="Search documents" />
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let document of documents" (click)="goToDocument(document)">
                                    <td>{{ document.fileName }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <pager [headers]="documentHeaders" (pageChanged)="searchDocuments($event)"></pager>
                    </div>

                </div>

            </ng-template>

        </ng-container>

    </nav>

    <div [ngbNavOutlet]="nav" class="mt-1"></div>

</ng-container>

<entity-modal #entityModal (change)="changeEntity($event)" [role]="admin" [multiple]="false"></entity-modal>

