<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">

        <form (submit)="runSearch()" novalidate>

            <fieldset>

                <div class="alert alert-info alert-dismissible" *ngIf="entityType!=undefined">Filtered by entity type: {{entityType.name}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="searchOptions.entityTypeId=undefined;entityType=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="search" ngbAutofocus name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search entities" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!entityType">
                        <div class="form-group">
                            <entity-type-select id="entityTypeId" name="entityTypeId" [(ngModel)]="searchOptions.entityTypeId"></entity-type-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <entity-select id="parentEntityId" name="parentEntityId" [(ngModel)]="searchOptions.parentEntityId" placeholder="Select a parent entity"></entity-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!organisation">
                        <div class="form-group">
                            <organisation-select id="organisationId" name="organisationId" [(ngModel)]="searchOptions.organisationId"></organisation-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <div class="table-responsive mt-6 mb-5">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center w-20px" *ngIf="multiple"><i class="fas fa-fw cursor-pointer" [ngClass]="{ 'fa-check-square': allSelected, 'fa-square': !allSelected }" (click)="toggleAll()"></i></th>
                        <th>Name</th>
                        <th>Code</th>
                        <th *ngIf="!entityType">Entity Type</th>
                        <th *ngIf="!organisation">Organisation</th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                    <tr *ngFor="let entity of entities" (click)="select(entity)" [ngClass]="{ 'table-info': isSelected(entity) }">
                        <td *ngIf="multiple" class="text-center"><i [ngClass]="{ 'fa-check-square': isSelected(entity), 'fa-square': !isSelected(entity) }" class="fas fa-fw"></i></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.code }}</td>
                        <td *ngIf="!entityType">{{ entity.entityType.name }}</td>
                        <td *ngIf="!organisation">{{ entity.organisation?.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>

    </div>
    
    <div class="modal-footer" [ngClass]="{ 'justify-content-between': multiple }">
        <div class="alert alert-info modal-selected-info" *ngIf="multiple">{{selectedItems.length}} selected</div>
        <div>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="addNew()" target="_blank" *ngIf="showAddNew">Add</button>
            <button type="button" class="btn btn-outline-secondary ms-2" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-outline-dark ms-2" (click)="selectAll()" *ngIf="multiple">Select all</button>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="close()" *ngIf="multiple">Select checked</button>
        </div>
    </div>

</ng-template>
