<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-list">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Entities</h4>
                <div>
                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Entity" [routerLink]="['./', 'add']"></i>
                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
                </div>
            </div>

        </div>

        <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

            <form (submit)="runSearch(0)" novalidate>

                <div class="row g-2">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <input type="search" name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search entities" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <entity-type-select id="entityTypeId" name="entityTypeId" [(ngModel)]="searchOptions.entityTypeId"></entity-type-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <organisation-select id="organisationId" name="organisationId" [(ngModel)]="searchOptions.organisationId"></organisation-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="form-group">
                            <select id="disabled" name="disabled" [(ngModel)]="searchOptions.disabled" #disabled="ngModel" class="form-select">
                                <option [ngValue]="undefined">Disabled: Any</option>
                                <option [ngValue]="true">Disabled: Yes</option>
                                <option [ngValue]="false">Disabled: No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Entity Type</th>
                        <th>Organisation</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let entity of entities" (click)="goToEntity(entity)">
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.code }}</td>
                        <td>{{ entity.entityType.name }}</td>
                        <td>{{ entity.organisation?.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
