<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-list">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Dates</h4>
                <div>
                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Date" [routerLink]="['./', 'add']"></i>
                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
                    <i class="fa fa-fw ms-1 fa-sort cursor-pointer" ngbTooltip="Sort Dates" (click)="showSort()"></i>
                </div>
            </div>

        </div>

        <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

            <form (submit)="runSearch(0)" novalidate>

                <div class="row g-2">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <input type="search" name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search dates" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select id="dateType" name="dateType" [(ngModel)]="searchOptions.dateType" #dateType="ngModel" class="form-select">
                                <option [ngValue]="undefined" disabled>Date Type</option>
                                <option *ngFor="let dateType of dateTypes" [ngValue]="dateType.value">{{ dateType.label }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <date-select id="quarterId" name="quarterId" [(ngModel)]="searchOptions.quarterId"></date-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <date-select id="yearId" name="yearId" [(ngModel)]="searchOptions.yearId"></date-select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date Type</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let date of dates" (click)="goToDate(date)">
                        <td>{{ date.name }}</td>
                        <td>{{ date.code }}</td>
                        <td>{{ dateTypes[date.dateType].label }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
