<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="date" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" *ngIf="!disabled">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !date && !dates?.length, 'fa-times': !!date || !!dates?.length }"></i>
    </button>
</div>

<date-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [dateType]="dateType" [quarter]="quarter" [year]="year" [showAddNew]="showAddNew" [title]="placeholder" [isOpen]="isOpen" [hasOpened]="hasOpened"></date-modal>
