<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !folderContent && !folderContents?.length, 'fa-times': !!folderContent || !!folderContents?.length }"></i>
    </button>
</div>

<folder-content-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [folder]="folder" [addedBy]="addedBy" [showAddNew]="showAddNew" [title]="placeholder"></folder-content-modal>
