<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">

        <form (submit)="runSearch()" novalidate>

            <fieldset>

                <div class="alert alert-info alert-dismissible" *ngIf="folder!=undefined">Filtered by folder: {{folder.name}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="searchOptions.folderId=undefined;folder=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>
                <div class="alert alert-info alert-dismissible" *ngIf="addedBy!=undefined">Filtered by added by: {{addedBy.fullName}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="searchOptions.addedById=undefined;addedBy=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="search" ngbAutofocus name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search folder contents" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!folder">
                        <div class="form-group">
                            <folder-select id="folderId" name="folderId" [(ngModel)]="searchOptions.folderId"></folder-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!addedBy">
                        <div class="form-group">
                            <user-select id="addedById" name="addedById" [(ngModel)]="searchOptions.addedById"></user-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <div class="table-responsive mt-6 mb-5">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="!folder">Folder</th>
                        <th>Name</th>
                        <th class="text-center w-20px" *ngIf="multiple"><i class="fas fa-fw cursor-pointer" [ngClass]="{ 'fa-check-square': allSelected, 'fa-square': !allSelected }" (click)="toggleAll()"></i></th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                    <tr *ngFor="let folderContent of folderContents" (click)="select(folderContent)">
                        <td *ngIf="!folder">{{ folderContent.folder.name }}</td>
                        <td>{{ folderContent.name }}</td>
                        <td *ngIf="multiple" class="text-center"><i [ngClass]="{ 'fa-check-square': isSelected(folderContent), 'fa-square': !isSelected(folderContent) }" class="fas fa-fw"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>

    </div>
    
    <div class="modal-footer" [ngClass]="{ 'justify-content-between': multiple }">
        <button type="button" class="btn btn-info me-2" *ngIf="multiple">{{selectedItems.length}} selected</button>
        <div>
            <button type="button" class="btn btn-outline-primary me-2" (click)="addNew()" target="_blank" *ngIf="showAddNew">Add New</button>
            <button type="button" class="btn btn-outline-dark me-2" (click)="close()">{{(multiple ? "Select Checked" : "Close")}}</button>
            <button type="button" class="btn btn-outline-dark me-2" (click)="selectAll()" *ngIf="multiple">Select All</button>
            <button type="button" class="btn btn-outline-secondary" (click)="clear()">Clear</button>
        </div>
    </div>

</ng-template>
