form#setup {
    width: 420px;
    max-width: 95%;
    margin: 3rem auto;
    background-color: white;
    border: solid 1px grey;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px grey;
    border-radius: 5px;
}

.form-group > label:not(.radio-inline) {
    font-size: 0.85rem;
    line-height: normal;
    color: #666;
    font-weight: normal;
    width: 100%;
    margin-bottom: 0;
}

form#setup img {
    max-width: 100%;
}
