<app-page-title></app-page-title>

<div class="card card-list">

    <div class="card-header">

        <div class="card-header-title">
            <h4>Question Summaries</h4>
            <div>
                <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
            </div>
        </div>

    </div>

    <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

        <form (submit)="runSearch(0)" novalidate>

            <div class="row g-2">

                <div class="col-sm-6 col-md-5 col-xl-4">
                    <div class="form-group">
                        <question-select id="questionId" name="questionId" [(ngModel)]="searchOptions.questionId"></question-select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-xl-4">
                    <div class="form-group">
                        <date-select id="dateId" name="dateId" [(ngModel)]="searchOptions.dateId"></date-select>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="table-responsive">

        <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
            <thead class="thead-light">
                <tr>
                    <th>Question</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody class="list cursor-pointer">
                <tr *ngFor="let questionSummary of questionSummaries" (click)="goToQuestionSummary(questionSummary)">
                    <td>{{ questionSummary.question.code }}</td>
                    <td>{{ questionSummary.date.name }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="card-footer">
        <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
    </div>

</div>

