<app-page-title></app-page-title>

<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card card-edit">

        <div class="card-header">

            <div class="card-header-title">
                <h4 class="text-uppercase m-0">Skip Logic Option</h4>
            </div>

        </div>

        <div class="card-body">

            <fieldset class="group">

                <div class="row g-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': questionId.invalid }">

                            <label for="questionId">
                                Question:
                            </label>

                            <question-select id="questionId" name="questionId" [(question)]="skipLogicOption.question" [(ngModel)]="skipLogicOption.questionId" #questionId="ngModel" required></question-select>

                            <div *ngIf="questionId.errors?.required" class="invalid-feedback">
                                Question is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': checkQuestionOptionId.invalid }">

                            <label for="checkQuestionOptionId">
                                Check Question Option:
                            </label>

                            <question-option-select id="checkQuestionOptionId" name="checkQuestionOptionId" [(questionOption)]="skipLogicOption.questionOption" [(ngModel)]="skipLogicOption.checkQuestionOptionId" #checkQuestionOptionId="ngModel" required (ngModelChange)="changeBreadcrumb()"></question-option-select>

                            <div *ngIf="checkQuestionOptionId.errors?.required" class="invalid-feedback">
                                Check Question Option is required
                            </div>

                        </div>
                    </div>

                </div>

            </fieldset>

        </div>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    </div>

</form>

