<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !skipLogicOption && !skipLogicOptions, 'fa-times': !!skipLogicOption || !!skipLogicOptions }"></i>
    </button>
</div>

<skip-logic-option-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [checkQuestion]="checkQuestion" [questionOption]="questionOption" [showAddNew]="showAddNew" [title]="placeholder"></skip-logic-option-modal>
