/**
 * Copy and paste the variables that...
 *
 * Example for the most commom variables:
 *
 * $primary: #d138f2;
 * $secondary: #ff0000;
 * $font-family-base: 'Merriweather', serif;
 */
$breadcrumb-font-size: .675rem !default;
