<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Sort Subcategories</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>

<div class="table-responsive">

    <table class="table table-hover table-striped table-edge table-nowrap mt-6 mb-0 align-middle">
        <thead class="thead-light">
            <tr>
                <th class="text-center w-20px"><i class="fas fa-sort"></i></th>
                <th>Category</th>
                <th>Code</th>
                <th>Subcategory</th>
            </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)" class="cursor-grab">
            <tr *ngFor="let subcategory of subcategories" cdkDrag cdkDragHandle (cdkDragStarted)="dragStart($event)">
                <td class="text-center"><i class="fas fa-sort"></i></td>
                <td>{{ subcategory.category.name }}</td>
                <td>{{ subcategory.code }}</td>
                <td>{{ subcategory.name }}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="close()">Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
</div>
