<ng-template #content let-modal>

    <div class="modal-header p-4">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body p-5" [ngClass]="{ 'mb-6': !showFooter }">

        <form (submit)="runSearch()" novalidate>

            <fieldset>

                <div class="alert alert-info alert-dismissible" *ngIf="showFilters && category!=undefined">Filtered by category: {{category.name}}<button type="button" class="btn-close" data-bs-dismiss="alert" (click)="searchOptions.categoryId=undefined;category=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="search" ngbAutofocus name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search subcategories" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!category">
                        <div class="form-group">
                            <category-select id="categoryId" name="categoryId" [(ngModel)]="searchOptions.categoryId"></category-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <div class="table-responsive mt-4 mb-5">

            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center w-20px" *ngIf="multiple"><i class="fas fa-fw cursor-pointer" [ngClass]="{ 'fa-check-square': allSelected, 'fa-square': !allSelected }" (click)="toggleAll()"></i></th>
                        <th *ngIf="!category">Category</th>
                        <th>Code</th>
                        <th>Subcategory</th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                    <tr *ngFor="let subcategory of subcategories" (click)="select(subcategory)" [ngClass]="{ 'table-info': isSelected(subcategory) }">
                        <td *ngIf="multiple" class="text-center"><i [ngClass]="{ 'fa-check-square': isSelected(subcategory), 'fa-square': !isSelected(subcategory) }" class="fas fa-fw"></i></td>
                        <td *ngIf="!category">{{ subcategory.category.name }}</td>
                        <td>{{ subcategory.code }}</td>
                        <td>{{ subcategory.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <pager [headers]="headers" (pageChanged)="runSearch($event)" class="pager-sm"></pager>

    </div>
    
    <div class="modal-footer p-4" [ngClass]="{ 'justify-content-between': multiple }" *ngIf="showFooter">
        <div class="alert alert-info modal-selected-info" *ngIf="multiple">{{selectedItems.length}} selected</div>
        <div>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="addNew()" target="_blank" *ngIf="showAddNew">Add</button>
            <button type="button" class="btn btn-outline-secondary ms-2" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-outline-dark ms-2" (click)="selectAll()" *ngIf="multiple">Select all</button>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="close()" *ngIf="multiple">Select checked</button>
        </div>
    </div>

</ng-template>
