<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-list">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Indicators</h4>
                <div>
                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Indicator" [routerLink]="['./', 'add']"></i>
                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
                </div>
            </div>

        </div>

        <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

            <form (submit)="runSearch(0)" novalidate>

                <div class="row g-2">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <input type="search" name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search indicators" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <category-select id="categoryId" name="categoryId" [(ngModel)]="searchOptions.categoryId" (category)="category"></category-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <subcategory-select id="subcategoryId" name="subcategoryId" [(ngModel)]="searchOptions.subcategoryId"></subcategory-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select id="indicatorType" name="indicatorType" [(ngModel)]="searchOptions.indicatorType" #indicatorType="ngModel" class="form-select">
                                <option [ngValue]="undefined" disabled>Indicator Type</option>
                                <option *ngFor="let indicatorType of indicatorTypes" [ngValue]="indicatorType.value">{{ indicatorType.label }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select id="indicatorStatus" name="indicatorStatus" [(ngModel)]="searchOptions.indicatorStatus" #indicatorStatus="ngModel" class="form-select">
                                <option [ngValue]="undefined" disabled>Status</option>
                                <option *ngFor="let indicatorStatus of indicatorStatuses" [ngValue]="indicatorStatus.value">{{ indicatorStatus.label }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <entity-type-select id="entityTypeId" name="entityTypeId" [(ngModel)]="searchOptions.entityTypeId"></entity-type-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <select id="frequency" name="frequency" [(ngModel)]="searchOptions.frequency" #frequency="ngModel" class="form-select">
                                <option [ngValue]="undefined" disabled>Frequency</option>
                                <option *ngFor="let dateType of dateTypes" [ngValue]="dateType.value">{{ dateType.label }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xl-4">
                        <div class="form-group">
                            <user-select id="createdById" name="createdById" [(ngModel)]="searchOptions.createdById"></user-select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Frequency</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let indicator of indicators" (click)="goToIndicator(indicator)">
                        <td>{{ indicator.subcategory.category.name }}</td>
                        <td>{{ indicator.subcategory.name }}</td>
                        <td>{{ indicator.code }}</td>
                        <td class="mw-350px text-overflow-ellipsis">{{ indicator.name }}</td>
                        <td>{{ indicatorTypes[indicator.indicatorType].label }}</td>
                        <td>{{ indicator.frequency | frequencyAdverb }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
