<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !questionnaire && !questionnaires?.length, 'fa-times': !!questionnaire || !!questionnaires?.length }"></i>
    </button>
</div>

<questionnaire-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [entityType]="entityType" [dateType]="dateType" [showAddNew]="showAddNew" [title]="placeholder"></questionnaire-modal>
