<ng-template #content let-modal>

    <div class="modal-header p-4">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body p-5" [ngClass]="{ 'mb-6': !showFooter }">

        <form (submit)="runSearch()" novalidate>

            <fieldset>

                <div class="alert alert-info alert-dismissible" *ngIf="showFilters && entityType!=undefined">Filtered by entity type: {{entityType.name}}<button type="button" class="btn-close" data-bs-dismiss="alert" (click)="searchOptions.entityTypeId=undefined;entityType=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>
                <div class="alert alert-info alert-dismissible" *ngIf="showFilters && dateType!=undefined">Filtered by date type: {{dateType.label}}<button type="button" class="btn-close" data-bs-dismiss="alert" (click)="searchOptions.dateType=undefined;dateType=undefined;runSearch();" *ngIf="canRemoveFilters"></button></div>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="search" ngbAutofocus name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search questionnaires" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!entityType">
                        <div class="form-group">
                            <entity-type-select id="entityTypeId" name="entityTypeId" [(ngModel)]="searchOptions.entityTypeId"></entity-type-select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4" *ngIf="!dateType">
                        <select id="dateType" name="dateType" [(ngModel)]="searchOptions.dateType" #dateType="ngModel" class="form-select">
                            <option *ngFor="let dateType of dateTypes" [ngValue]="dateType.value">{{ dateType.label }}</option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Search<i class="fas fa-search ms-2"></i></button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <div class="table-responsive mt-4 mb-5">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center w-20px" *ngIf="multiple"><i class="fas fa-fw cursor-pointer" [ngClass]="{ 'fa-check-square': allSelected, 'fa-square': !allSelected }" (click)="toggleAll()"></i></th>
                        <th>Name</th>
                        <th *ngIf="!entityType">Entity Type</th>
                        <th *ngIf="!dateType">Date Type</th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                    <tr *ngFor="let questionnaire of questionnaires" (click)="select(questionnaire)" [ngClass]="{ 'table-info': isSelected(questionnaire) }">
                        <td *ngIf="multiple" class="text-center"><i [ngClass]="{ 'fa-check-square': isSelected(questionnaire), 'fa-square': !isSelected(questionnaire) }" class="fas fa-fw"></i></td>
                        <td>{{ questionnaire.name }}</td>
                        <td *ngIf="!entityType">{{ questionnaire.entityType.name }}</td>
                        <td *ngIf="!dateType">{{ dateTypes[questionnaire.dateType].label }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <pager [headers]="headers" (pageChanged)="runSearch($event)" class="pager-sm"></pager>

    </div>
    
    <div class="modal-footer p-4" [ngClass]="{ 'justify-content-between': multiple }" *ngIf="showFooter">
        <div class="alert alert-info modal-selected-info" *ngIf="multiple">{{selectedItems.length}} selected</div>
        <div>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="addNew()" target="_blank" *ngIf="showAddNew">Add</button>
            <button type="button" class="btn btn-outline-secondary ms-2" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-outline-dark ms-2" (click)="selectAll()" *ngIf="multiple">Select all</button>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="close()" *ngIf="multiple">Select checked</button>
        </div>
    </div>

</ng-template>
