<app-page-title></app-page-title>

<div class="card card-list">

    <div class="card-header">

        <div class="card-header-title">
            <h4>Relationships</h4>
            <div>
                <i class="fa fa-fw ms-1 fa-search cursor-pointer" ngbTooltip="Toggle search options" (click)="showSearchOptions = !showSearchOptions"></i>
            </div>
        </div>

    </div>

    <div class="card-body" *ngIf="showSearchOptions" @FadeThenShrink>

        <form (submit)="runSearch(0)" novalidate>

            <div class="row g-2">

                <div class="col-sm-6 col-md-5 col-xl-4">
                    <div class="form-group">
                        <theory-of-change-select id="theoryOfChangeId" name="theoryOfChangeId" [(ngModel)]="searchOptions.theoryOfChangeId"></theory-of-change-select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-xl-4">
                    <div class="form-group">
                        <component-select id="sourceComponentId" name="sourceComponentId" [(ngModel)]="searchOptions.sourceComponentId"></component-select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-xl-4">
                    <div class="form-group">
                        <component-select id="targetComponentId" name="targetComponentId" [(ngModel)]="searchOptions.targetComponentId"></component-select>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="table-responsive">

        <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
            <thead class="thead-light">
                <tr>
                    <th>Theory of Change</th>
                    <th>Source Component</th>
                    <th>Target Component</th>
                </tr>
            </thead>
            <tbody class="list cursor-pointer">
                <tr *ngFor="let relationship of relationships" (click)="goToRelationship(relationship)">
                    <td>{{ relationship.theoryOfChange.name }}</td>
                    <td>{{ relationship.sourceComponent.name }}</td>
                    <td>{{ relationship.targetComponent.name }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="card-footer">
        <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
    </div>

</div>

