<app-page-title></app-page-title>

<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card card-edit">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Item Field</h4>
            </div>

        </div>

        <div class="card-body">

            <fieldset class="group">

                <div class="row g-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': itemId.invalid }">

                            <label for="itemId">
                                Item:
                            </label>

                            <item-select id="itemId" name="itemId" [(item)]="itemField.item" [(ngModel)]="itemField.itemId" #itemId="ngModel" required></item-select>

                            <div *ngIf="itemId.errors?.required" class="invalid-feedback">
                                Item is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': fieldId.invalid }">

                            <label for="fieldId">
                                Field:
                            </label>

                            <field-select id="fieldId" name="fieldId" [(field)]="itemField.field" [(ngModel)]="itemField.fieldId" #fieldId="ngModel" required (ngModelChange)="changeBreadcrumb()"></field-select>

                            <div *ngIf="fieldId.errors?.required" class="invalid-feedback">
                                Field is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': value.invalid }">

                            <label for="value">
                                Value:
                            </label>

                            <textarea id="value" name="value" class="form-control" rows="5" [(ngModel)]="itemField.value" #value="ngModel"></textarea>

                        </div>
                    </div>

                </div>

            </fieldset>

        </div>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    </div>

</form>

