<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

        <div class="card card-edit">

            <div class="card-header">

                <div class="card-header-title">
                    <h4>Theory of Change</h4>
                </div>

            </div>

            <div class="card-body">

                <fieldset class="group">

                    <div class="row g-3">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                                <label for="name">
                                    Name:
                                </label>

                                <input id="name" name="name" class="form-control" type="text" [(ngModel)]="theoryOfChange.name" #name="ngModel" required (ngModelChange)="changeBreadcrumb()" maxlength="250" />

                                <div *ngIf="name.errors?.required" class="invalid-feedback">
                                    Name is required
                                </div>

                                <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                                    Name must be at most 250 characters long
                                </div>

                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
            <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
        </div>

    </form>

    <ng-container *ngIf="!isNew">

        <nav ngbNav #nav="ngbNav" class="nav-tabs">

            <ng-container ngbNavItem>

                <a ngbNavLink>Components</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Components</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Components" (click)="addTheoryOfChangeComponents()"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showTheoryOfChangeComponentsSearch=!showTheoryOfChangeComponentsSearch" ngbTooltip="Toggle search options"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showTheoryOfChangeComponentsSearch" @FadeThenShrink>

                            <form id="formSearchTheoryOfChangeComponents" (submit)="searchTheoryOfChangeComponents(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <component-select id="componentId" name="componentId" [(ngModel)]="theoryOfChangeComponentsSearchOptions.componentId"></component-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button form="formSearchTheoryOfChangeComponents" type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Component</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteTheoryOfChangeComponents()" ngbTooltip="Delete all components" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let theoryOfChangeComponent of theoryOfChangeComponents" (click)="goToTheoryOfChangeComponent(theoryOfChangeComponent)">
                                        <td>{{ theoryOfChangeComponent.component.name }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteTheoryOfChangeComponent(theoryOfChangeComponent, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="theoryOfChangeComponentsHeaders" (pageChanged)="searchTheoryOfChangeComponents($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

            <ng-container ngbNavItem>

                <a ngbNavLink>Relationships</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Relationships</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Relationships" [routerLink]="['./relationships', 'add']"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showRelationshipsSearch=!showRelationshipsSearch" ngbTooltip="Toggle search options"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showRelationshipsSearch" @FadeThenShrink>

                            <form id="formSearchRelationships" (submit)="searchRelationships(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <component-select id="sourceComponentId" name="sourceComponentId" [(ngModel)]="relationshipsSearchOptions.sourceComponentId"></component-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <component-select id="targetComponentId" name="targetComponentId" [(ngModel)]="relationshipsSearchOptions.targetComponentId"></component-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button form="formSearchRelationships" type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Source Component</th>
                                        <th>Target Component</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteRelationships()" ngbTooltip="Delete all relationships" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let relationship of relationships" (click)="goToRelationship(relationship)">
                                        <td>{{ relationship.sourceComponent.name }}</td>
                                        <td>{{ relationship.targetComponent.name }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteRelationship(relationship, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="relationshipsHeaders" (pageChanged)="searchRelationships($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

        </nav>

        <div [ngbNavOutlet]="nav" class="mt-1"></div>

    </ng-container>

</ng-container>

<component-modal #componentModal (changes)="changeComponent($event)" [multiple]="true"></component-modal>

<router-outlet></router-outlet>

