<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !theoryOfChange && !theoriesOfChange?.length, 'fa-times': !!theoryOfChange || !!theoriesOfChange?.length }"></i>
    </button>
</div>

<theory-of-change-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [showAddNew]="showAddNew" [title]="placeholder"></theory-of-change-modal>
