<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Component Editor</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
</div>
<div class="modal-body">

    <form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

        <fieldset class="group">

            <div class="row g-3">

                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                        <label for="name">
                            Name:
                        </label>

                        <input id="name" name="name" class="form-control" type="text" [(ngModel)]="component.name" #name="ngModel" required maxlength="250" />

                        <div *ngIf="name.errors?.required" class="invalid-feedback">
                            Name is required
                        </div>

                        <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                            Name must be at most 250 characters long
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group" [ngClass]="{ 'is-invalid': code.invalid }">

                        <label for="code">
                            Code:
                        </label>

                        <input id="code" name="code" class="form-control" type="text" [(ngModel)]="component.code" #code="ngModel" required maxlength="20" />

                        <div *ngIf="code.errors?.required" class="invalid-feedback">
                            Code is required
                        </div>

                        <div *ngIf="code.errors?.maxlength" class="invalid-feedback">
                            Code must be at most 20 characters long
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group" [ngClass]="{ 'is-invalid': componentType.invalid }">

                        <label for="componentType">
                            Component Type:
                        </label>

                        <select id="componentType" name="componentType" class="form-select" type="text" [(ngModel)]="component.componentType" #componentType="ngModel" required>
                            <option *ngFor="let componentType of componentTypes" [ngValue]="componentType.value">{{ componentType.label }}</option>
                        </select>

                        <div *ngIf="componentType.errors?.required" class="invalid-feedback">
                            Component Type is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                    <div class="form-group" [ngClass]="{ 'is-invalid': backgroundColour.invalid }">

                        <label for="backgroundColour">
                            Background Colour:
                        </label>

                        <app-color id="backgroundColour" name="backgroundColour" [(ngModel)]="component.backgroundColour" #backgroundColour="ngModel"></app-color>

                        <div *ngIf="backgroundColour.errors?.maxlength" class="invalid-feedback">
                            Background Colour must be at most 20 characters long
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                    <div class="form-group" [ngClass]="{ 'is-invalid': textColour.invalid }">

                        <label for="textColour">
                            Text Colour:
                        </label>

                        <app-color id="textColour" name="textColour" [(ngModel)]="component.textColour" #textColour="ngModel"></app-color>

                        <div *ngIf="textColour.errors?.maxlength" class="invalid-feedback">
                            Text Colour must be at most 20 characters long
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': description.invalid }">

                        <label for="description">
                            Description:
                        </label>

                        <textarea id="description" name="description" class="form-control" rows="5" [(ngModel)]="component.description" #description="ngModel"></textarea>

                    </div>
                </div>

                <ng-container *ngFor="let field of fields | groupPipe : null">

                    <!--[(file)]="files[field.fieldId]" (downloadClicked)="download($event)"-->
                    <field [field]="field" id="{{field.fieldId}}" name="{{field.fieldId}}" [ngModel]="fieldValues.get(field.fieldId)" (ngModelChange)="fieldValues.set(field.fieldId, $event)" [fieldValues]="fieldValues" class="{{field | fieldSizePipe}}"></field>

                </ng-container>

            </div>

        </fieldset>

        <ng-container *ngFor="let group of groups">

            <fieldset class="group">

                <legend>{{group.name}}</legend>

                <div class="row g-3">

                    <ng-container *ngFor="let field of fields | groupPipe : group.groupId">

                        <!--[(file)]="files[field.fieldId]" (downloadClicked)="download($event)"-->
                        <field [field]="field" id="{{field.fieldId}}" name="{{field.fieldId}}" [ngModel]="fieldValues.get(field.fieldId)" (ngModelChange)="fieldValues.set(field.fieldId, $event)" [fieldValues]="fieldValues" class="{{field | fieldSizePipe}}"></field>

                    </ng-container>

                </div>

            </fieldset>

        </ng-container>

    </form>

    <div *ngIf="!isNew">

        <hr />

        <nav ngbNav #nav="ngbNav" class="nav-tabs">

            <ng-container ngbNavItem>

                <a ngbNavLink>Documents</a>

                <ng-template ngbNavContent>

                    <div class="mb-3">
                        <button class="btn btn-outline-success me-2 mb-1" (click)="showDocumentManageModal()">Add Document<i class="fas fa-plus ms-2"></i></button>
                    </div>

                    <div class="table-responsive mb-5">

                        <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let document of documents" (click)="goToDocument(document)">
                                    <td>{{ document.fileName }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <pager [headers]="documentHeaders" (pageChanged)="searchDocuments($event)"></pager>

                </ng-template>

            </ng-container>

            <ng-container ngbNavItem>

                <a ngbNavLink>Indicators</a>

                <ng-template ngbNavContent>

                    <div class="mb-3">
                        <button class="btn btn-outline-primary me-2 mb-1" (click)="addComponentIndicators()">Add Indicators<i class="fas fa-plus ms-2"></i></button>
                    </div>

                    <div class="table-responsive mb-5">

                        <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                            <thead class="thead-light">
                                <tr>
                                    <th>Indicator</th>
                                    <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteComponentIndicators()" ngbTooltip="Remove all indicators" container="body" placement="left" *ngIf="component.componentIndicators.length"></i></th>
                                </tr>
                            </thead>
                            <tbody class="list cursor-pointer">
                                <tr *ngFor="let componentIndicator of component.componentIndicators">
                                    <td>{{ componentIndicator.indicator.name }}</td>
                                    <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteComponentIndicator(componentIndicator, $event)"></i></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <pager [headers]="componentIndicatorsHeaders" (pageChanged)="searchComponentIndicators($event)"></pager>

                </ng-template>

            </ng-container>

        </nav>

        <div [ngbNavOutlet]="nav" class="mt-1"></div>

    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" form="form">Save<i class="fas fa-check ms-2"></i></button>
    <button type="button" *ngIf="!isNew" class="btn btn-outline-danger" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    <button type="button" *ngIf="!isNew" class="btn btn-outline-secondary" (click)="remove()">Remove<i class="fas fa-times ms-2"></i></button>
</div>

<indicator-modal #indicatorModal (changes)="changeIndicators($event)" [multiple]="true"></indicator-modal>
