<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-primary">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Theory of Change</h4>
                <div>
                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Theory of Change" [routerLink]="['./', 'add']"></i>
                </div>
            </div>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let theoryOfChange of theoriesOfChange" (click)="selectTheoryOfChange(theoryOfChange)">
                        <td>{{ theoryOfChange.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
