<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="entityType" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" *ngIf="!disabled">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !entityType && !entityTypes?.length, 'fa-times': !!entityType || !!entityTypes?.length }"></i>
    </button>
</div>

<entity-type-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [showAddNew]="showAddNew" [title]="placeholder"></entity-type-modal>
