<app-page-title></app-page-title>

<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card card-edit">

        <div class="card-header">

            <div class="card-header-title">
                <h4 class="text-uppercase m-0">Settings</h4>
            </div>

        </div>

        <div class="card-body">

            <fieldset class="group">

                <div class="row g-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': useSubmit.invalid }">

                            <label for="useSubmit">
                                Use Submit:
                            </label>

                            <div class="form-check">
                                <input id="useSubmit" name="useSubmit" class="form-check-input" type="checkbox" [(ngModel)]="settings.useSubmit" #useSubmit="ngModel" />
                                <label class="form-check-label" for="useSubmit">
                                    Use Submit
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': useVerify.invalid }">

                            <label for="useVerify">
                                Use Verify:
                            </label>

                            <div class="form-check">
                                <input id="useVerify" name="useVerify" class="form-check-input" type="checkbox" [(ngModel)]="settings.useVerify" #useVerify="ngModel" />
                                <label class="form-check-label" for="useVerify">
                                    Use Verify
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': useApprove.invalid }">

                            <label for="useApprove">
                                Use Approve:
                            </label>

                            <div class="form-check">
                                <input id="useApprove" name="useApprove" class="form-check-input" type="checkbox" [(ngModel)]="settings.useApprove" #useApprove="ngModel" />
                                <label class="form-check-label" for="useApprove">
                                    Use Approve
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': useReject.invalid }">

                            <label for="useReject">
                                Use Reject:
                            </label>

                            <div class="form-check">
                                <input id="useReject" name="useReject" class="form-check-input" type="checkbox" [(ngModel)]="settings.useReject" #useReject="ngModel" />
                                <label class="form-check-label" for="useReject">
                                    Use Reject
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': simplePermissionsMode.invalid }">

                            <label for="simplePermissionsMode">
                                Simple Permissions Mode:
                            </label>

                            <div class="form-check">
                                <input id="simplePermissionsMode" name="simplePermissionsMode" class="form-check-input" type="checkbox" [(ngModel)]="settings.simplePermissionsMode" #simplePermissionsMode="ngModel" />
                                <label class="form-check-label" for="simplePermissionsMode">
                                    Simple Permissions Mode
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                        <div class="form-group" [ngClass]="{ 'is-invalid': chatGPTAPIKey.invalid }">

                            <label for="chatGPTAPIKey">
                                Chat GPT API Key:
                            </label>

                            <input id="chatGPTAPIKey" name="chatGPTAPIKey" class="form-control" type="text" [(ngModel)]="settings.chatGPTAPIKey" #chatGPTAPIKey="ngModel" maxlength="100" />

                            <div *ngIf="chatGPTAPIKey.errors?.maxlength" class="invalid-feedback">
                                Chat GPT API Key must be at most 100 characters long
                            </div>

                        </div>
                    </div>

                </div>

            </fieldset>

        </div>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
    </div>

</form>

