<form name="form" (submit)="submit(form)" class="form-auth my-5" id="resetPassword" novalidate #form="ngForm">

    <fieldset [disabled]="loading">

        <div class="text-center mb-7 mt-5">
            <img src="/assets/images/logo.png" alt="RESET PASSWORD" />
        </div>

        <div class="mb-4">
            <input type="email" id="userName" name="userName" [(ngModel)]="resetPassword.userName" #userName="ngModel"
                   class="form-control" [ngClass]="{ 'is-invalid': form.submitted && userName.invalid }"
                   maxlength="100" required autofocus="" placeholder="Email address" />
        </div>

        <div class="alert alert-danger mb-4" *ngIf="form.submitted && form.invalid">

            <div>
                Please correct the following errors:
            </div>

            <div *ngIf="userName.invalid">

                <div *ngIf="userName.errors.required">
                    <i class="fas fa-exclamation-circle me-2"></i>Email is required.
                </div>

                <div *ngIf="userName.errors.maxlength">
                    <i class="fas fa-exclamation-circle me-2"></i>Email must be at most 100 characters long.
                </div>

            </div>

        </div>

        <div class="d-grid">
            <button id="authButton" type="submit" class="btn btn-lg btn-primary" value="Reset Password">Reset password</button>
        </div>

        <div class="small mt-2 text-end">
            <a [routerLink]="['/auth/login']">login</a>
        </div>

    </fieldset>

</form>
