<form name="form" (submit)="submit(form)" class="form-auth my-5" id="auth" novalidate #form="ngForm">

    <div class="text-center mb-4">
        <img src="/assets/images/logo.png" alt="RESET" />
    </div>

    <div class="mb-0 auth-top">
        <input type="email" id="userName" name="userName" [(ngModel)]="reset.userName" #userName="ngModel"
               class="form-control" [ngClass]="{ 'is-invalid': form.submitted && userName.invalid }"
               maxlength="100" required autofocus="" placeholder="Email address" />
    </div>

    <div class="mt-0 mb-0 auth-middle">
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="reset.newPassword" #newPassword="ngModel"
               class="form-control" [ngClass]="{ 'is-invalid': form.submitted && newPassword.invalid }"
               maxlength="250" required placeholder="New password" />
    </div>

    <div class="mt-0 mb-4 auth-bottom">
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="reset.confirmPassword" #confirmPassword="ngModel"
               class="form-control" [ngClass]="{ 'is-invalid': form.submitted && confirmPassword.invalid }"
               maxlength="250" required placeholder="Confirm password" />
    </div>

    <div class="alert alert-danger mb-4" *ngIf="form.submitted && form.invalid">

        <div>
            Please correct the following errors:
        </div>

        <div *ngIf="userName.invalid">

            <div *ngIf="userName.errors.required">
                <i class="fas fa-exclamation-circle me-2"></i>Email is required.
            </div>

            <div *ngIf="userName.errors.maxlength">
                <i class="fas fa-exclamation-circle me-2"></i>Email must be at most 100 characters long.
            </div>

        </div>

        <div *ngIf="newPassword.invalid">

            <div *ngIf="newPassword.errors.required">
                <i class="fas fa-exclamation-circle me-2"></i>Password is required.
            </div>

            <div *ngIf="newPassword.errors.maxlength">
                <i class="fas fa-exclamation-circle me-2"></i>Password must be at most 250 characters long.
            </div>

        </div>

        <div *ngIf="confirmPassword.invalid">

            <div *ngIf="confirmPassword.errors.required">
                <i class="fas fa-exclamation-circle me-2"></i>Confirm password is required.
            </div>

            <div *ngIf="confirmPassword.errors.maxlength">
                <i class="fas fa-exclamation-circle me-2"></i>Confirm password must be at most 250 characters long.
            </div>

        </div>

    </div>

    <div class="d-grid">
        <button id="authButton" type="submit" class="btn btn-lg btn-primary" value="reset">Reset password</button>
    </div>

    <div class="small mt-2 text-end">
        <a [routerLink]="['/auth/login']">login</a>
    </div>

</form>
