<app-page-title></app-page-title>

<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card card-edit">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Task</h4>
            </div>

        </div>

        <div class="card-body">

            <fieldset class="group">

                <div class="row gx-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                            <label for="name">
                                Name:
                            </label>

                            <input id="name" name="name" class="form-control" type="text" [(ngModel)]="task.name" #name="ngModel" required (ngModelChange)="changeBreadcrumb()" maxlength="250" />

                            <div *ngIf="name.errors?.required" class="invalid-feedback">
                                Name is required
                            </div>

                            <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                                Name must be at most 250 characters long
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': startDate.invalid }">

                            <label for="startDate">
                                Start Date:
                            </label>

                            <div class="input-group">
                                <input id="startDate" name="startDate" class="form-control" type="text" [(ngModel)]="task.startDate" #startDate="ngModel" required placeholder="yyyy-mm-dd" ngbDatepicker #dpStartDate="ngbDatepicker" tabindex="-1" (click)="dpStartDate.toggle()" container="body" />
                                <button class="btn btn-secondary calendar" (click)="dpStartDate.toggle()" type="button"><i class="fas fa-fw fa-calendar-alt"></i></button>
                            </div>

                            <div *ngIf="startDate.errors?.required" class="invalid-feedback">
                                Start Date is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': endDate.invalid }">

                            <label for="endDate">
                                End Date:
                            </label>

                            <div class="input-group">
                                <input id="endDate" name="endDate" class="form-control" type="text" [(ngModel)]="task.endDate" #endDate="ngModel" required placeholder="yyyy-mm-dd" ngbDatepicker #dpEndDate="ngbDatepicker" tabindex="-1" (click)="dpEndDate.toggle()" container="body" />
                                <button class="btn btn-secondary calendar" (click)="dpEndDate.toggle()" type="button"><i class="fas fa-fw fa-calendar-alt"></i></button>
                            </div>

                            <div *ngIf="endDate.errors?.required" class="invalid-feedback">
                                End Date is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': percentCompleted.invalid }">

                            <label for="percentCompleted">
                                Percent Completed:
                            </label>

                            <input id="percentCompleted" name="percentCompleted" class="form-control" type="number" [(ngModel)]="task.percentCompleted" #percentCompleted="ngModel" required step="any" />

                            <div *ngIf="percentCompleted.errors?.required" class="invalid-feedback">
                                Percent Completed is required
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': completionDate.invalid }">

                            <label for="completionDate">
                                Completion Date:
                            </label>

                            <div class="input-group">
                                <input id="completionDate" name="completionDate" class="form-control" type="text" [(ngModel)]="task.completionDate" #completionDate="ngModel" placeholder="yyyy-mm-dd" ngbDatepicker #dpCompletionDate="ngbDatepicker" tabindex="-1" (click)="dpCompletionDate.toggle()" container="body" />
                                <button class="btn btn-secondary calendar" (click)="dpCompletionDate.toggle()" type="button"><i class="fas fa-fw fa-calendar-alt"></i></button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': description.invalid }">

                            <label for="description">
                                Description:
                            </label>

                            <textarea id="description" name="description" class="form-control" rows="5" [(ngModel)]="task.description" #description="ngModel"></textarea>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': colour.invalid }">

                            <label for="colour">
                                Colour:
                            </label>

                            <app-color id="colour" name="colour" [(ngModel)]="task.colour" #colour="ngModel"></app-color>

                            <div *ngIf="colour.errors?.maxlength" class="invalid-feedback">
                                Colour must be at most 7 characters long
                            </div>

                        </div>
                    </div>

                </div>

            </fieldset>

        </div>

    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    </div>

</form>

