<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <div class="card card-list">

        <div class="card-header">

            <div class="card-header-title">
                <h4>Errors</h4>
            </div>

        </div>

        <div class="table-responsive">

            <table class="table table-hover table-edge table-nowrap mb-0 align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody class="list cursor-pointer">
                    <tr *ngFor="let error of errors" (click)="goToError(error)">
                        <td>{{ error.dateUtc | momentPipe: 'DD MMM YYYY HH:mm:SS' }}</td>
                        <td>{{ error.message }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>
        </div>

    </div>

</ng-container>

<router-outlet></router-outlet>
