<div *ngIf="route.children.length === 0">

    <form (submit)="runSearch(0)" novalidate>

        <div class="row g-3">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <input type="search" name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search users" />
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <select id="roles" name="roles" class="form-select" [(ngModel)]="searchOptions.roleName">
                        <option [value]="undefined">All roles</option>
                        <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
                    </select>
                </div>
            </div>

        </div>

        <fieldset class="my-3">

            <button type="submit" class="btn btn-success">Search<i class="fas fa-search ms-1"></i></button>
            <a [routerLink]="['./', 'add']" class="btn btn-primary ms-1">Add<i class="fas fa-plus-circle ms-1"></i></a>

        </fieldset>

    </form>

    <hr />

    <table class="table table-striped table-hover table-sm row-navigation">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Disabled</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" (click)="goToUser(user)">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.disabled | booleanPipe }}</td>
            </tr>
        </tbody>
    </table>

    <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>

</div>

<router-outlet></router-outlet>
