<form name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <fieldset class="group">

        <legend>User</legend>

        <div class="row g-3">

            <div class="col-sm-6 col-md-4">
                <div class="form-group" [ngClass]="{ 'is-invalid': firstName.invalid }">

                    <label for="firstName">
                        First Name:
                    </label>

                    <input id="firstName" name="firstName" class="form-control" type="text" [(ngModel)]="user.firstName" #firstName="ngModel" required maxlength="50" />

                    <div *ngIf="firstName.errors?.required" class="invalid-feedback">
                        First Name is required
                    </div>

                    <div *ngIf="firstName.errors?.maxlength" class="invalid-feedback">
                        First Name must be at most 50 characters long
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group" [ngClass]="{ 'is-invalid': lastName.invalid }">

                    <label for="lastName">
                        Last Name:
                    </label>

                    <input id="lastName" name="lastName" class="form-control" type="text" [(ngModel)]="user.lastName" #lastName="ngModel" required maxlength="50" />

                    <div *ngIf="lastName.errors?.required" class="invalid-feedback">
                        Last Name is required
                    </div>

                    <div *ngIf="lastName.errors?.maxlength" class="invalid-feedback">
                        Last Name must be at most 50 characters long
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group" [ngClass]="{ 'is-invalid': email.invalid }">

                    <label for="email">
                        Email:
                    </label>

                    <input id="email" name="email" class="form-control" type="text" [(ngModel)]="user.email" #email="ngModel" required maxlength="256" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" />

                    <div *ngIf="email.errors?.required" class="invalid-feedback">
                        Email is required
                    </div>

                    <div *ngIf="email.errors?.maxlength" class="invalid-feedback">
                        Email must be at most 256 characters long
                    </div>

                    <div *ngIf="email.errors?.pattern" class="invalid-feedback">
                        Email does not match the specified pattern
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group" [ngClass]="{ 'is-invalid': disabled.invalid }">

                    <label for="disabled">
                        Disabled:
                    </label>

                    <div class="form-check">
                        <input id="disabled" name="disabled" class="form-check-input" type="checkbox" [(ngModel)]="user.disabled" #disabled="ngModel" />
                        <label class="form-check-label" for="disabled">
                            Disabled
                        </label>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">

                    <label>
                        Roles:
                    </label>

                    <select id="roles" name="roles" [multiple]="true" class="form-control" [(ngModel)]="user.roles">
                        <option *ngFor="let role of roles" [ngValue]="role.name">{{role.label}}</option>
                    </select>

                </div>
            </div>

        </div>

    </fieldset>

    <fieldset class="my-3">
        <button type="submit" class="btn btn-success">Save<i class="fas fa-check ms-1"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger ms-1" (click)="delete()">Delete<i class="fas fa-times ms-1"></i></button>
    </fieldset>

</form>
