<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form (submit)="runSearch()" novalidate>

            <fieldset>

                <div class="alert alert-info alert-dismissible" *ngIf="role!=undefined"><button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="searchOptions.roleName=undefined;role=undefined;runSearch();"><span aria-hidden="true" *ngIf="canRemoveFilters">&times;</span></button>Filtered by role: {{role.label}}</div>

                <div class="row g-3">

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="search" ngbAutofocus name="q" id="q" [(ngModel)]="searchOptions.q" max="100" class="form-control" placeholder="Search users" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Search<i class="fas fa-search ms-1"></i></button>
                        </div>
                    </div>
                </div>

            </fieldset>

        </form>

        <table class="table table-striped table-hover table-sm row-navigation mt-4">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Disabled</th>
                    <th class="text-center fa-col-width" *ngIf="multiple"><i class="fas fa-fw clickable" [ngClass]="{ 'fa-check-square': allSelected, 'fa-square': !allSelected }" (click)="toggleAll()"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" (click)="select(user)">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.disabled | booleanPipe }}</td>
                    <td *ngIf="multiple" class="text-center"><i [ngClass]="{ 'fa-check-square': isSelected(user), 'fa-square': !isSelected(user) }" class="fas fa-fw"></i></td>
                </tr>
            </tbody>
        </table>

        <pager [headers]="headers" (pageChanged)="runSearch($event)"></pager>

    </div>
    <div class="modal-footer" [ngClass]="{ 'justify-content-between': multiple }">
        <button type="button" class="btn btn-info me-2" *ngIf="multiple">{{selectedItems.length}} selected</button>
        <div>
            <button type="button" class="btn btn-info me-2" (click)="addNew()" target="_blank" *ngIf="showAddNew">Add New</button>
            <button type="button" class="btn btn-outline-dark float-right me-2" (click)="close()">{{(multiple ? "Select Checked" : "Close")}}</button>
            <button type="button" class="btn btn-outline-dark float-right me-2" (click)="selectAll()" *ngIf="multiple">Select All</button>
            <button type="button" class="btn btn-secondary float-right" (click)="clear()">Clear</button>
        </div>
    </div>
</ng-template>
