<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{_options.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
    <p>{{_options.text}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">{{_options.ok}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">{{_options.cancel}}</button>
</div>
