<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{_options.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
    <div [innerHtml]="_options.text"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn" [ngClass]="okClass" (click)="modal.close(true)" *ngIf="_options.ok">{{_options.ok}}</button>
    <button type="button" class="btn" [ngClass]="noClass" (click)="modal.close(false)" *ngIf="_options.no">{{_options.no}}</button>
    <button type="button" class="btn" [ngClass]="cancelClass" (click)="modal.dismiss()" *ngIf="_options.cancel">{{_options.cancel}}</button>
</div>
