<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="group" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !group && !groups?.length, 'fa-times': !!group || !!groups?.length }"></i>
    </button>
</div>

<group-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [showAddNew]="showAddNew" [title]="placeholder"></group-modal>
