<h2 *ngIf="profile">Hello, {{profile.firstName}}</h2>

<div class="card border-0">

    <div class="card-body">

        <p>Welcome to your new single-page application, built with:</p>
        <ul>
            <li><a href="https://get.asp.net/" target="_blank">ASP.NET Core</a> and <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" target="_blank">C#</a> for cross-platform server-side code</li>
            <li><a href="https://angular.io/" target="_blank">Angular</a> and <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> for client-side code</li>
            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> for layout and styling</li>
            <li><a href="https://docs.microsoft.com/en-us/ef/" target="_blank">Entity Framework</a> for Object-Relational Mapping</li>
            <li><a href="https://www.microsoft.com/en-us/sql-server/" target="_blank">SQL Server</a> as the database</li>
            <li><a href="https://www.openiddict.com/" target="_blank">OpenIddict</a> for OpenID Connect &amp; token validation</li>
        </ul>

        <div class="row">
            <div class="col-md-4"><user-select></user-select></div>
        </div>


        <style>
            .cont {
                padding-top: 200px;
                padding-bottom: 200px;
                border: solid 1px red;
                margin: 10px 0;
            }
        </style>


        <div class="cont">
            <h1 #target1>None...</h1>
        </div>

        <div class="cont">
            <h1 #target2>Hello, World 1</h1>
        </div>

        <div class="cont">
            <h1>Hola, Mundo 2</h1>
        </div>

        <div class="cont">
            <h1>Hello World 3</h1>
        </div>

        <div class="cont">
            <h1>Hello World 4</h1>
        </div>


    </div>

</div>
<nav class="navbar" id="top">
    <ul class="navbar__items">
        <li class="navbar__item">
            <a xxx spyOn="target-1" activeClass="navbar__link--active" class="navbar__link" href="#target-1">target 1</a>
        </li>
        <li class="navbar__item">
            <a spyOn="target-2" activeClass="navbar__link--active" class="navbar__link" href="#target-2">target 2</a>
        </li>
        <li class="navbar__item">
            <a spyOn="target-3" activeClass="navbar__link--active" class="navbar__link" href="#target-3">target 3</a>
        </li>
        <li class="navbar__item">
            <a spyOn="target-4" activeClass="navbar__link--active" class="navbar__link" href="#target-4">target 4</a>
        </li>
    </ul>
</nav>
<style>
    #top {
        position: fixed;
        top: 0;
        background: white;
        z-index: 1000;
    }

    .navbar__link--active {
        color: red !important;
    }
</style>
