<div class="mt-6">

    <div class="row" *ngIf="profile">

        <ng-container *ngFor="let settings of profile.dashboardSettings">
            <app-widget [settings]="settings"></app-widget>
        </ng-container>

        <div class="col-12" *ngIf="(profile?.dashboardSettings?.length ?? 0) === 0">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="text-center my-6">

                        <div class="my-4">You do not have any dashboard widgets configured.</div>

                        <div class="btn-group" ngbDropdown>

                            <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle>
                                Add a dashboard widget
                            </button>

                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                                <div *ngFor="let widgetType of widgetTypes">
                                    <button type="button" class="dropdown-item" (click)="addWidget(widgetType)">
                                        {{ widgetType.label }}
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1 widget" ngbDropdown *ngIf="(profile?.dashboardSettings?.length ?? 0) !== 0">

            <button id="add-widget" type="button" class="btn btn-outline-secondary no-arrow d-inline-block show-icons" ngbDropdownToggle><i class="fa fa-plus"></i></button>

            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                <div *ngFor="let widgetType of widgetTypes">
                    <button type="button" class="dropdown-item" (click)="addWidget(widgetType)">
                        {{ widgetType.label }}
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>
