<h2 *ngIf="profile">Hello, {{profile.firstName}}</h2>

<div class="card border-0">

    <div class="card-body">

        <p>Welcome to your new single-page application, built with:</p>
        <ul>
            <li><a href="https://get.asp.net/" target="_blank">ASP.NET Core</a> and <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" target="_blank">C#</a> for cross-platform server-side code</li>
            <li><a href="https://angular.io/" target="_blank">Angular</a> and <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> for client-side code</li>
            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> for layout and styling</li>
            <li><a href="https://docs.microsoft.com/en-us/ef/" target="_blank">Entity Framework</a> for Object-Relational Mapping</li>
            <li><a href="https://www.microsoft.com/en-us/sql-server/" target="_blank">SQL Server</a> as the database</li>
            <li><a href="https://www.openiddict.com/" target="_blank">OpenIddict</a> for OpenID Connect &amp; token validation</li>
        </ul>

        <div class="row">
            <div class="col-md-4"><user-select></user-select></div>
        </div>


        <style>
            .cont {
                padding-top: 200px;
                padding-bottom: 200px;
                border: solid 1px red;
                margin: 10px 0;
            }
        </style>


        <div class="cont">
            <h1>None...</h1>
        </div>

        <div class="cont">
            <h1 #target1>Hello, World 1</h1>
        </div>

        <div class="cont">
            <h1 #target2>Hola, Mundo 2</h1>
        </div>

        <div class="cont">
            <h1 #target3>Hello World 3</h1>
        </div>

        <div class="cont">
            <h1 #target4>Hello World 4</h1>
        </div>


    </div>

</div>

