<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Indicator Map Settings</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">

    <form id="formSettings" name="formSettings" (submit)="save(form)" #form="ngForm">

        <fieldset class="group">

            <div class="row g-3">

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': indicatorId.invalid }">

                        <label for="indicatorId">
                            Indicator:
                        </label>

                        <indicator-select id="indicatorId" name="indicatorId" [(indicator)]="indicator" [(ngModel)]="settings.indicatorId" #indicatorId="ngModel" required [reportingFrequency]="date ? dateTypes[date.dateType] : undefined"></indicator-select>

                        <div *ngIf="indicatorId.errors?.required" class="invalid-feedback">
                            Indicator is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': dateId.invalid }">

                        <label for="dateId">
                            Date:
                        </label>

                        <date-select id="dateId" name="dateId" [(date)]="date" [(ngModel)]="settings.dateId" #dateId="ngModel" required [dateType]="indicator ? dateTypes[indicator.reportingFrequency] : undefined"></date-select>

                        <div *ngIf="dateId.errors?.required" class="invalid-feedback">
                            Date is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': minColor.invalid }">

                        <label for="minColor">
                            Minimum Color:
                        </label>

                        <app-color id="minColor" name="minColor" [(ngModel)]="settings.minColor" #minColor="ngModel"></app-color>

                        <div *ngIf="minColor.errors?.required" class="invalid-feedback">
                            Minimum Color is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': maxColor.invalid }">

                        <label for="maxColor">
                            Maximum Color:
                        </label>

                        <app-color id="maxColor" name="maxColor" [(ngModel)]="settings.maxColor" #maxColor="ngModel"></app-color>

                        <div *ngIf="maxColor.errors?.required" class="invalid-feedback">
                            Maximum Color is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': opacity.invalid }">

                        <label for="opacity">
                            Opacity:
                        </label>

                        <input type="range" min="0" max="1" step="0.01" id="opacity" name="opacity" class="form-control" [(ngModel)]="settings.opacity" #opacity="ngModel">

                        <div *ngIf="opacity.errors?.required" class="invalid-feedback">
                            Opacity is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': width.invalid }">

                        <label for="width">
                            Width:
                        </label>

                        <select id="width" name="width" [(ngModel)]="settings.width" #width="ngModel" class="form-select" required>
                            <option *ngFor="let widgetSize of widgetSizes" [ngValue]="widgetSize.value">{{ widgetSize.label }}</option>
                        </select>

                        <div *ngIf="width.errors?.required" class="invalid-feedback">
                            Width is required
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'is-invalid': height.invalid }">

                        <label for="height">
                            Height:
                        </label>

                        <select id="height" name="height" [(ngModel)]="settings.height" #height="ngModel" class="form-select" required>
                            <option *ngFor="let widgetSize of widgetSizes" [ngValue]="widgetSize.value">{{ widgetSize.label }}</option>
                        </select>

                        <div *ngIf="height.errors?.required" class="invalid-feedback">
                            Height is required
                        </div>

                    </div>
                </div>


            </div>

        </fieldset>

    </form>

</div>
<div class="modal-footer">
    <button type="submit" form="formSettings" class="btn btn-outline-success">Save<i class="fas fa-check ms-2"></i></button>
</div>
