<div class="card card-primary flex-fill">

    <div class="card-header">

        <div class="card-header-title">
            <div class="mw-100">
                <h4>{{title}}<span *ngIf="subtitle"> - {{subtitle}}</span></h4>
            </div>
            <div class="text-nowrap user-select-none">
                <div ngbDropdown>
                    <i class="fa fa-ellipsis-v cursor-pointer fs-4 px-1" ngbDropdownToggle></i>
                    <div class="dropdown-menu dropdown-menu-end border-dark" ngbDropdownMenu>
                        <button class="dropdown-item" (click)="openSettings()"><i class="fa fa-fw fa-cog cursor-pointer me-2"></i>Configure</button>
                        <button class="dropdown-item" (click)="remove()"><i class="fa fa-fw fa-trash-can cursor-pointer me-2"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">

        <ng-container *ngIf="settings?.widgetType===widgetTypes.IndicatorMap">
            <app-indicator-map #indicatorMap [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-indicator-map>
        </ng-container>

        <ng-container *ngIf="settings?.widgetType===widgetTypes.IndicatorLineChart">
            <app-indicator-line-chart #indicatorLineChart [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-indicator-line-chart>
        </ng-container>

        <ng-container *ngIf="settings?.widgetType===widgetTypes.IndicatorBarChart">
            <app-indicator-bar-chart #indicatorBarChart [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-indicator-bar-chart>
        </ng-container>

        <ng-container *ngIf="settings?.widgetType===widgetTypes.IndicatorPieChart">
            <app-indicator-pie-chart #indicatorPieChart [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-indicator-pie-chart>
        </ng-container>

        <ng-container *ngIf="settings?.widgetType===widgetTypes.QuestionnaireBarChart">
            <app-questionnaire-bar-chart #questionnaireBarChart [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-questionnaire-bar-chart>
        </ng-container>

        <ng-container *ngIf="settings?.widgetType===widgetTypes.FolderShortcut">
            <app-folder-shortcut #folderShortcut [settings]="$any(settings)" (loading)="loading=$event" (title)="title=$event" (subtitle)="subtitle=$event" (error)="error=$event"></app-folder-shortcut>
        </ng-container>

        <ng-container *ngIf="loading">
            <div class="spinContainer">
                <div class="simple-spinner"></div>
                <div class="text-muted text-center"><small>loading widget</small></div>
            </div>
        </ng-container>

        <ng-container *ngIf="error">
            <div class="spinContainer">
                <div class="alert alert-warning text-center cursor-pointer" (click)="openSettings()">
                    <i class="fa fa-triangle-exclamation me-2"></i>The widget needs to be configured
                </div>
            </div>
        </ng-container>

    </div>
</div>
