<div class="d-md-flex align-items-baseline justify-content-between">
    <h2 class="mb-3 mb-md-5">User Test</h2>
    <nav class="mb-3 mb-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
            <li class="breadcrumb-item"><a routerLink="/users/14689baf-4b2f-4aa6-a087-f54e461b23cf">Sean Walsh</a></li>
            <li class="breadcrumb-item active">test 2</li>
        </ol>
    </nav>
</div>


<form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

    <div class="card border-0">

        <div class="card-body">

            <fieldset class="group">

                <div class="row g-3">

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                            <label for="name">
                                Name:
                            </label>

                            <input id="name" name="name" class="form-control" type="text" [(ngModel)]="userTest.name" #name="ngModel" required (ngModelChange)="changeBreadcrumb()" maxlength="50" />

                            <div *ngIf="name.errors?.required" class="invalid-feedback">
                                Name is required
                            </div>

                            <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                                Name must be at most 50 characters long
                            </div>

                        </div>
                    </div>

                </div>

            </fieldset>

        </div>

    </div>

    <fieldset class="my-3">
        <button type="submit" class="btn btn-outline-primary me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
        <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
    </fieldset>

</form>
