<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="component" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" *ngIf="!disabled">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !component && !components?.length, 'fa-times': !!component || !!components?.length }"></i>
    </button>
</div>

<component-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [componentType]="componentType" [showAddNew]="showAddNew" [title]="placeholder" [selectedItems]="components"></component-modal>
