<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="item" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" *ngIf="!disabled">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !item && !items?.length, 'fa-times': !!item || !!items?.length }"></i>
    </button>
</div>

<item-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [itemType]="itemType" [showAddNew]="showAddNew" [title]="placeholder"></item-modal>
