<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

        <div class="card card-edit">

            <div class="card-header">

                <div class="card-header-title">
                    <h4>LogFrame Row</h4>
                </div>

            </div>

            <div class="card-body">

                <fieldset class="group">

                    <div class="row g-3">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': rowType.invalid }">

                                <label for="rowType">
                                    Row Type:
                                </label>

                                <select id="rowType" name="rowType" class="form-select" [(ngModel)]="logFrameRow.rowType" #rowType="ngModel" required>
                                    <option *ngFor="let logFrameRowType of logFrameRowTypes" [ngValue]="logFrameRowType.value">{{ logFrameRowType.label }}</option>
                                </select>

                                <div *ngIf="rowType.errors?.required" class="invalid-feedback">
                                    Row Type is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': description.invalid }">

                                <label for="description">
                                    Description:
                                </label>

                                <textarea id="description" name="description" class="form-control" rows="5" [(ngModel)]="logFrameRow.description" #description="ngModel" required></textarea>

                                <div *ngIf="description.errors?.required" class="invalid-feedback">
                                    Description is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': indicators.invalid }">

                                <label for="indicators">
                                    Indicators:
                                </label>

                                <textarea id="indicators" name="indicators" class="form-control" rows="5" [(ngModel)]="logFrameRow.indicators" #indicators="ngModel" required></textarea>

                                <div *ngIf="indicators.errors?.required" class="invalid-feedback">
                                    Indicators is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': meansOfVerification.invalid }">

                                <label for="meansOfVerification">
                                    Means of Verification:
                                </label>

                                <textarea id="meansOfVerification" name="meansOfVerification" class="form-control" rows="5" [(ngModel)]="logFrameRow.meansOfVerification" #meansOfVerification="ngModel" required></textarea>

                                <div *ngIf="meansOfVerification.errors?.required" class="invalid-feedback">
                                    Means of Verification is required
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': risksAndAssumptions.invalid }">

                                <label for="risksAndAssumptions">
                                    Risks And Assumptions:
                                </label>

                                <textarea id="risksAndAssumptions" name="risksAndAssumptions" class="form-control" rows="5" [(ngModel)]="logFrameRow.risksAndAssumptions" #risksAndAssumptions="ngModel" required></textarea>

                                <div *ngIf="risksAndAssumptions.errors?.required" class="invalid-feedback">
                                    Risks And Assumptions is required
                                </div>

                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
            <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
        </div>

    </form>

    <ng-container *ngIf="!isNew">

        <nav ngbNav #nav="ngbNav" class="nav-tabs">

            <ng-container ngbNavItem>

                <a ngbNavLink>Log Frame Row Indicators</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Log Frame Row Indicators</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Log Frame Row Indicators" (click)="addLogFrameRowIndicators()"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showLogFrameRowIndicatorsSearch=!showLogFrameRowIndicatorsSearch" ngbTooltip="Toggle search options"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showLogFrameRowIndicatorsSearch" @FadeThenShrink>

                            <form id="formSearchLogFrameRowIndicators" (submit)="searchLogFrameRowIndicators(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <indicator-select id="indicatorId" name="indicatorId" [(ngModel)]="logFrameRowIndicatorsSearchOptions.indicatorId"></indicator-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Indicator</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteLogFrameRowIndicators()" ngbTooltip="Delete all log frame row indicators" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let logFrameRowIndicator of logFrameRowIndicators" (click)="goToLogFrameRowIndicator(logFrameRowIndicator)">
                                        <td>{{ logFrameRowIndicator.indicator.name }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteLogFrameRowIndicator(logFrameRowIndicator, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="logFrameRowIndicatorsHeaders" (pageChanged)="searchLogFrameRowIndicators($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

            <ng-container ngbNavItem>

                <a ngbNavLink>Log Frame Row Components</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Log Frame Row Components</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Log Frame Row Components" (click)="addLogFrameRowComponents()"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showLogFrameRowComponentsSearch=!showLogFrameRowComponentsSearch" ngbTooltip="Toggle search options"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showLogFrameRowComponentsSearch" @FadeThenShrink>

                            <form id="formSearchLogFrameRowComponents" (submit)="searchLogFrameRowComponents(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <component-select id="componentId" name="componentId" [(ngModel)]="logFrameRowComponentsSearchOptions.componentId"></component-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Component</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteLogFrameRowComponents()" ngbTooltip="Delete all log frame row components" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let logFrameRowComponent of logFrameRowComponents" (click)="goToLogFrameRowComponent(logFrameRowComponent)">
                                        <td>{{ logFrameRowComponent.component.name }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteLogFrameRowComponent(logFrameRowComponent, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="logFrameRowComponentsHeaders" (pageChanged)="searchLogFrameRowComponents($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

        </nav>

        <div [ngbNavOutlet]="nav" class="mt-1"></div>

    </ng-container>

</ng-container>

<indicator-modal #indicatorModal (changes)="changeIndicator($event)" [multiple]="true"></indicator-modal>

<component-modal #componentModal (changes)="changeComponent($event)" [multiple]="true"></component-modal>

<router-outlet></router-outlet>

