main {
    margin-bottom: 5rem;
}

@media(min-width: 992px) {
    main {
        margin-left: 18rem;
    }

    .navbar img.navbar-brand-img {
        width: 100%;
        height: initial;
    }

    #mainNavbar .navbar-brand {
        margin-bottom: 1.5rem;
    }
}

@media(min-width: 1200px) {
    main .container-fluid {
        padding-left: 2.8125rem !important;
        padding-right: 2.8125rem !important
    }
}

.widget.extra-small [echarts],
.widget.extra-small google-map {
    height: 150px;
}

.widget.small [echarts],
.widget.small google-map {
    height: 250px;
}

.widget.medium [echarts],
.widget.medium google-map {
    height: 350px;
}

.widget.large [echarts],
.widget.large google-map {
    height: 450px;
}

.widget.extra-large [echarts],
.widget.extra-large google-map {
    height: 550px;
}

.widget .subheader {
    line-height: 1;
}

.widgetInfo {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 85%;
}

    .widgetInfo h5 {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-y: hidden;
    }

.widget.deleted {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOut;
    opacity: 0;
    display: none;
}

.widget.shrink {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shrink;
    opacity: 0;
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shrink {
    100% {
        width: 0;
        padding: 0;
    }
}

button#add-widget {
    opacity: 0.33;
}

    button#add-widget:hover {
        opacity: 1;
    }

.widget .dropdown .dropdown-toggle {
    border: none;
    padding: 0;
}

    .widget .dropdown .dropdown-toggle:focus {
        outline: none !important;
        box-shadow: none;
    }

    .widget .dropdown .dropdown-toggle:after {
        display: none;
    }

.py-6 {
    padding-bottom: 1.875rem !important;
    padding-top: 1.875rem !important
}

.py-7 {
    padding-bottom: 2.8125rem !important;
    padding-top: 2.8125rem !important
}

.py-8 {
    padding-bottom: 3.75rem !important;
    padding-top: 3.75rem !important
}

.py-9 {
    padding-bottom: 5.625rem !important;
    padding-top: 5.625rem !important
}

.py-10 {
    padding-bottom: 8.4375rem !important;
    padding-top: 8.4375rem !important
}


.dropdown-toggle.no-arrow:after, .dropdown-toggle.no-arrow:before {
    display: none !important
}

/*display empty anchor tags as clickable*/
#mainNavbar.navbar-expand-lg a:not([href]) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.form-group label {
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 0.25rem; /*todo: use a variable?*/
}

.was-validated .app-select.ng-invalid input.form-control,
.was-validated app-color.ng-invalid .input-group input[type=text],
.was-validated app-color.ng-invalid .input-group .input-group-text {
    border-color: #dc3545;
}

.was-validated .form-group.is-invalid .app-select .btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

.was-validated .form-group.is-invalid input[ngbdatepicker].ng-invalid {
    border-color: #dc3545;
}

.was-validated .app-select.ng-invalid ~ .invalid-feedback {
    display: block;
}

/* to get ngbdatepicker to show validation messages */
.was-validated .form-group.is-invalid .invalid-feedback {
    display: block;
}

.was-validated .custom-file .ng-invalid.form-control + label {
    color: blue;
}

    .was-validated .custom-file .ng-invalid.form-control + label::after {
        background-color: #dc3545;
        color: white;
    }

.was-validated .form-control:valid {
    background-image: none !important;
    padding-right: 0.75rem;
    border-color: #ced4da !important;
}

.was-validated .form-control:invalid {
    background-image: none !important;
    padding-right: 0.75rem;
}

.was-validated .form-select:invalid,
.was-validated .form-select:valid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

ngb-datepicker .is-valid, .was-validated ngb-datepicker :valid {
    border-color: inherit !important;
    padding-right: inherit !important;
    background: inherit !important;
}

form-select.is-valid, .was-validated .form-select:valid,
.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: #ced4da;
}

    .form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
        background-color: #0d6efd;
    }

.form-check-input:valid ~ .form-check-label {
    color: #212529 !important;
}

.form-group .form-check .form-check-label {
    font-weight: normal;
}





/*





i.theme {
    color: rgb(158,169,180);
}

    i.theme:hover {
        color: rgb(0,186,199);
    }









.form-group label {
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 0.15rem;
}


.spinContainer {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
}

.simple-spinner {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #808080;
    animation: simplerspinner 1s ease-in-out infinite;
    -webkit-animation: simplerspinner 1s ease-in-out infinite;
}

@keyframes simplerspinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes simplerspinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}




header > form input[type=text] {
    border: solid 1px #0e2238 !important;
    background-color:white !important;
}

header > form > div.input-group > .input-group-text {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
*/


/*should embed replaced with .mb-3 wherever this class is applied*/
.form-group {
    margin-bottom: 10px;
}

.card-footer pager .pager .pager-info,
.card-footer pager .pager ul.pagination {
    margin-bottom: 0px;
    color: rgb(var(--bs-secondary-rgb)) !important;
}

nav.nav-tabs.nav ~ .tab-content {
    padding-top: 1.875rem !important;
}

.border-solid {
    border-style: solid !important;
}

.bg-hover-light:hover {
    background-color: lightgoldenrodyellow;
}
/*todo: use variables*/
#headerSearch input:hover {
    background-color: rgb(244, 244, 244) !important;
}

#headerSearch input:focus {
    background-color: white !important;
    border-color: rgb(165, 171, 179) !important;
}

    #headerSearch input:focus ~ button {
        border-color: rgb(165, 171, 179) !important;
    }

        #headerSearch input:focus ~ button i {
            opacity: 1 !important;
        }

.was-validated .form-group.is-invalid .btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

.was-validated app-file.ng-invalid label.input-group-text,
.was-validated app-file.ng-invalid input[type=text] {
    border: solid 1px #D82C5B !important;
}

@media (max-width: 992px) {
    .navbar img.navbar-brand-img {
        max-height: 50px;
    }
}

input[type=checkbox].form-check-input {
    border-color: #d6dae2;
    cursor: pointer;
}

.form-control[readonly] {
    background-color: rgb(237, 238, 240) !important;
}

    .app-select .input-group:not(.disabled) .form-control[readonly],
    .form-control[readonly][ngbdatepicker] {
        background-color: #f6fdff !important;
    }

fieldset[disabled] .app-select .input-group:not(.disabled) .form-control[readonly] {
    background-color: rgb(237, 238, 240) !important;
}

fieldset.group .form-check {
    line-height: 35px;
    margin-bottom: 0;
}

    fieldset.group .form-check input[type=checkbox],
    fieldset.group .form-check input[type=radio] {
        margin-top: 10px;
    }

    fieldset.group .form-check.form-switch {
        height: 40px;
    }

.card-header.form-section {
    padding-top: 0.624999375rem !important;
    padding-bottom: 0.624999375rem !important;
    background-color: rgba(0, 186, 199) !important;
}

    .card-header.form-section h5 {
        color: rgba(246, 247, 248) !important;
        margin: 0 !important;
    }

.popover {
    --bs-popover-border-color: #999;
}

#breadcrumbs {
    line-height: 1.5rem;
}

.breadcrumb-item {
    padding-left: 0 !important;
    padding-right: 0.5rem;
}

abbr {
    border-bottom: dashed 1px #ccc;
}

.table.table-sm > :not(caption) > * > * {
    padding: 0.5rem 1rem;
}

pager.pager-sm .pager-info, pager.pager-sm ul.pagination {
    margin-bottom: 0;
}

body#auth {
    background-color: rgb(14, 34, 56);
    padding-top: 50px;
}

    body#auth .form-auth {
        box-shadow: 0px 0px 20px black;
    }

input[type=radio].form-check-input {
    border: solid 1px rgb(206,212,218);
}


.form-switch .form-check-input.is-valid:checked, .was-validated .form-switch .form-check-input:valid:checked {
    background-color: #00BAC7;
}

.form-switch .form-check-label {
    margin-top: 3px !important;
}

.form-check-input:disabled {
    opacity: 0.8;
}

.feedback-suggestion {
    color: #D82C5B !important;
}

.bg-info {
    background-color: rgba(36, 193, 235) !important;
}

.bs-tooltip-top > * {
    margin-bottom: 10px;
}

.bs-tooltip-bottom > * {
    margin-top: 10px;
}

.bs-tooltip-start > * {
    margin-right: 7px;
}

.bs-tooltip-end > * {
    margin-left: 7px;
}

table.table-hover > tbody > tr:hover > td {
    background-color: #cff2f4;
}

.card {
    box-shadow: none !important;
}

@media (min-width: 992px) {
    #mainNavbar {
        max-width: 17rem;
    }

    main {
        margin-left: 17rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
    }
}


.card.card-edit {
    border: solid 1px rgba(var(--bs-secondary-rgb));
    box-shadow: none !important;
}

    .card.card-edit > .card-header {
        padding-top: 0.624999375rem !important;
        padding-bottom: 0.624999375rem !important;
        background-color: rgba(var(--bs-primary-rgb), 1) !important;
        border: solid 1px rgba(var(--bs-primary-rgb), 1);
    }

        .card.card-edit > .card-header .card-header-title {
            color: white;
        }

            .card.card-edit > .card-header .card-header-title h4 {
                text-transform: uppercase;
                margin: 0 !important;
                padding: 2px 0 !important;
            }

.card.card-list {
    border: solid 1px rgba(var(--bs-secondary-rgb), 1) !important;
    box-shadow: none !important;
}

    .card.card-list > .card-header {
        padding-top: 0.624999375rem !important;
        padding-bottom: 0.624999375rem !important;
        background-color: rgba(var(--bs-primary-rgb), 1) !important;
        border: solid 1px rgba(var(--bs-primary-rgb), 1);
    }

        .card.card-list > .card-header .card-header-title {
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .card.card-list > .card-header .card-header-title h4 {
                text-transform: uppercase;
                margin: 0 !important;
                padding: 2px 0 !important;
            }

.card.card-primary {
    border: solid 1px rgba(var(--bs-secondary-rgb), 1) !important;
    box-shadow: none !important;
}

    .card.card-primary > .card-header {
        padding-top: 0.624999375rem !important;
        padding-bottom: 0.624999375rem !important;
        background-color: rgba(var(--bs-primary-rgb), 1) !important;
        border: solid 1px rgba(var(--bs-primary-rgb), 1);
    }

        .card.card-primary > .card-header .card-header-title {
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .card.card-primary > .card-header .card-header-title h4 {
                text-transform: uppercase;
                margin: 0 !important;
                padding: 2px 0 !important;
            }

    .card.card-primary .card-footer {
        padding-top: 0.624999375rem !important;
        padding-bottom: 0.624999375rem !important;
        background-color: #f7f7f7;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
    }

.table tbody tr td::before, .table tbody tr td::before, .table tbody tr th::before, .table tbody tr th::before {
    background-color: none !important;
    position: unset !important;
    height: unset !important;
    width: unset !important;
}

.btn i.fa, .btn i.fas {
    display: none !important;
}

.input-group .btn i.fa, .input-group .btn i.fas, .btn.show-icons i.fa, .btn.show-icons i.fas {
    display: inline-block !important;
}

.hover-primary:hover {
    color: #0d6efd !important;
}
