@media (min-width: 576px) {
    header nav .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

/* these styles will apply to auth/login AND main app */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll;
    font-size: 10.5pt;
}

/* bootstrap adds padding to body when modal is open */
body.modal-open {
    padding-right: 0px !important;
}

body#login,
body#setup {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.form-check {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-breadcrumb {
    border: none !important;
    background-color: white !important;
    font-size: small !important;
    padding: 0 !important;
    opacity: 0.80 !important;
}

.app-select .input-group:not(.disabled) input.form-control {
    background-color: white !important;
    cursor: pointer;
}

fieldset[disabled] .app-select .input-group input.form-control {
    cursor: default !important;
    background-color: #e9ecef !important;
}

.app-select .input-group.disabled .btn {
    cursor: default;
}

.was-validated .app-select.ng-invalid input.form-control,
.was-validated app-color .input-group input[type=text],
.was-validated app-color .input-group .input-group-text {
    border-color: #dc3545;
}

.was-validated .form-group.is-invalid .app-select .btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

.was-validated .form-group.is-invalid input[ngbdatepicker].ng-invalid {
    border-color: #dc3545;
}

.was-validated .app-select.ng-invalid ~ .invalid-feedback {
    display: block;
}

/* to get ngbdatepicker to show validation messages */
.was-validated .form-group.is-invalid .invalid-feedback {
    display: block;
}

.was-validated .custom-file .ng-invalid.form-control + label {
    color: blue;
}

    .was-validated .custom-file .ng-invalid.form-control + label::after {
        background-color: #dc3545;
        color: white;
    }

.toast-container * {
    font-size: small;
}

.toast-container small {
    font-size: 10px;
}

table.row-navigation tbody td {
    cursor: pointer;
}

.table-hover tbody tr:hover:not(.table-danger):not(.table-success) > td {
    background-color: #cff4fc;
    border-bottom: solid 1px #badce3 !important;
    box-shadow: none;
}

.table-hover tbody tr.table-danger:hover > td {
    border-bottom: solid 1px #ba4447 !important;
}

.table-hover tbody tr.table-success:hover > td {
    border-bottom: solid 1px #419641 !important;
}

.was-validated .form-control:valid {
    background-image: none !important;
    padding-right: 0.75rem;
    border-color: #ced4da !important;
}

.was-validated .form-control:invalid {
    background-image: none !important;
    padding-right: 0.75rem;
}

.was-validated .form-select:invalid,
.was-validated .form-select:valid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.form-check-input:valid ~ .form-check-label {
    color: #212529 !important;
}

.fa-col-width {
    width: 30px;
}

.modal-header {
    background-color: #f9f9f9 !important;
}

.modal-header, .modal-footer {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.modal-content {
    animation-name: modal;
    animation-duration: 0.3s;
}

@keyframes modal {
    0% {
        transform: scale(0.5)
    }

    100% {
        transform: scale(1)
    }
}

#spinner.backdrop {
    animation-name: loading;
    animation-duration: 1s;
}

@keyframes loading {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

::-webkit-input-placeholder {
    color: #999999 !important;
}

::-moz-placeholder {
    color: #999999 !important;
}

::-moz-placeholder {
    color: #999999 !important;
}

::-webkit-input-placeholder {
    color: #999999 !important;
}

hr {
    border-top: dashed 1px black;
    background-color: transparent;
    border-style: dashed;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

fieldset.group {
    margin-bottom: 20px;
    border: dotted 1px #888;
    padding: 5px 20px 20px;
    background-color: #f8f8f8;
}

    fieldset.group legend {
        display: block;
        width: auto;
        margin-bottom: 0;
        font-size: 0.75rem;
        line-height: inherit;
        color: #999;
        border: solid 1px #aaa;
        border-radius: 8px;
        background: white;
        padding: 2px 7px;
        font-weight: normal;
        float: none;
    }

fieldset .form-group > label:not(.radio-inline) {
    font-size: 0.75rem;
    line-height: normal;
    color: #999;
    font-weight: normal;
    width: 100%;
    margin-bottom: 0;
}

fieldset.form-horizontal span.control-label {
    display: inline-block;
}

.pagination li a:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.cdk-drag-handle {
    cursor: grab !important;
}

tbody.cdk-drop-list-dragging tr.cdk-drag-placeholder td {
    background-color: rgb(255, 243, 205) !important;
    box-shadow: none !important;
}

.cdk-drag-dragging, .cdk-drag-preview, .cdk-drag-placeholder {
    cursor: grabbing !important;
    pointer-events: auto !important;
}

.tab-content {
    padding-top: 1rem;
}

ngb-datepicker .is-valid, .was-validated ngb-datepicker :valid {
    border-color: inherit !important;
    padding-right: inherit !important;
    background: inherit !important;
}

.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
    margin-right: 3px;
    background-color: #fafafa;
}

    .nav-tabs .nav-link:hover {
        border-color: #ddd #ddd #dee2e6;
        background-color: white;
    }

:not(:disabled) [ngbdatepicker]:read-only:not(:disabled) {
    background-color: white !important;
}

.cursor-pointer {
    cursor: pointer;
}

input[type=file] {
    overflow-x: hidden;
}

.custom-file-label {
    overflow-x: hidden;
    white-space: nowrap;
}

.navbar-brand img {
    max-height: 32px;
}

.toast-container {
    max-width: 92% !important;
}

.ngx-toastr {
    width: 350px !important;
    max-width: 100%;
}

.toast-title {
    margin-bottom: 5px;
}

button[aria-label="Close"] {
    outline: none;
    outline: none;
    border: none;
    opacity: 1;
    /*can't remove bg else btn-close will lose the X*/
    /*background: none;*/
}

.modal .alert {
    padding: 0.5rem 1rem;
}

.modal fieldset div.alert:not(:nth-last-child(2)) {
    margin-bottom: 0.5rem;
}

.mandatory {
    color: red;
}

th i.fas.fa-sort {
    opacity: 0.5;
}

form-select.is-valid, .was-validated .form-select:valid,
.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: #ced4da;
}

    .form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
        background-color: #0d6efd;
    }

.modal-footer button.btn-info {
    cursor: default;
}

.spinContainer {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
}

.simple-spinner {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #808080;
    animation: simplerspinner 1s ease-in-out infinite;
    -webkit-animation: simplerspinner 1s ease-in-out infinite;
}

@keyframes simplerspinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes simplerspinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.widgetHeader {
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.widgetSubheader {
    font-size: 0.75rem;
    color: #808080;
    text-align: center;
    margin-bottom: 0.5rem;
}

.widget {
    position: relative;
    min-height: 250px;
    height: 100%;
    padding: 0.5rem;
    border: solid 1px white;
    border-radius: 5px;
}

    .widget:hover {
        border-color: #cccccc;
    }

    .widget .widgetSettings {
        display: none;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 5;
    }

    .widget:hover .widgetSettings {
        display: inline-block;
    }

    .widget .btn.widgetSettings:not(:hover) {
        background-color: white;
    }

