<ng-container *ngIf="route.children.length === 0">

    <app-page-title></app-page-title>

    <form id="form" name="form" (submit)="save(form)" novalidate #form="ngForm" [ngClass]="{ 'was-validated': form.submitted }">

        <div class="card card-edit">

            <div class="card-header">

                <div class="card-header-title">
                    <h4>Category</h4>
                </div>

            </div>

            <div class="card-body">

                <fieldset class="group">

                    <div class="row g-3">

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': name.invalid }">

                                <label for="name">
                                    Category:
                                </label>

                                <input id="name" name="name" class="form-control" type="text" [(ngModel)]="category.name" #name="ngModel" required (ngModelChange)="changeBreadcrumb()" maxlength="100" />

                                <div *ngIf="name.errors?.required" class="invalid-feedback">
                                    Category is required
                                </div>

                                <div *ngIf="name.errors?.maxlength" class="invalid-feedback">
                                    Category must be at most 100 characters long
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group" [ngClass]="{ 'is-invalid': code.invalid }">

                                <label for="code">
                                    Code:
                                </label>

                                <input id="code" name="code" class="form-control" type="text" [(ngModel)]="category.code" #code="ngModel" required maxlength="15" />

                                <div *ngIf="code.errors?.required" class="invalid-feedback">
                                    Code is required
                                </div>

                                <div *ngIf="code.errors?.maxlength" class="invalid-feedback">
                                    Code must be at most 15 characters long
                                </div>

                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-outline-success me-2 mb-1">Save<i class="fas fa-check ms-2"></i></button>
            <button type="button" *ngIf="!isNew" class="btn btn-outline-danger me-2 mb-1" (click)="delete()">Delete<i class="fas fa-times ms-2"></i></button>
        </div>

    </form>

    <ng-container *ngIf="!isNew">

        <nav ngbNav #nav="ngbNav" class="nav-tabs">

            <ng-container ngbNavItem>

                <a ngbNavLink>Subcategories</a>

                <ng-template ngbNavContent>

                    <div class="card card-list">

                        <div class="card-header">

                            <div class="card-header-title">
                                <h4>Subcategories</h4>
                                <div>
                                    <i class="fa fa-fw ms-1 fa-plus cursor-pointer" ngbTooltip="Add Subcategories" [routerLink]="['./subcategories', 'add']"></i>
                                    <i class="fa fa-fw ms-1 fa-search cursor-pointer" (click)="showSubcategoriesSearch=!showSubcategoriesSearch" ngbTooltip="Toggle search options"></i>
                                    <i class="fa fa-fw ms-1 fa-sort cursor-pointer" (click)="showSubcategorySort()" *ngIf="subcategoriesHeaders.totalRecords > 1" ngbTooltip="Sort Subcategories"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card-body" *ngIf="showSubcategoriesSearch" @FadeThenShrink>

                            <form id="formSearchSubcategories" (submit)="searchSubcategories(0)" novalidate>

                                <div class="row g-2">

                                    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
                                        <div class="form-group">
                                            <input type="search" name="q" id="q" [(ngModel)]="subcategoriesSearchOptions.q" max="100" class="form-control" placeholder="Search subcategories" />
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary me-2 mb-1">Search<i class="fas fa-search ms-2"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-striped table-edge table-nowrap mb-0 align-middle">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Code</th>
                                        <th>Subcategory</th>
                                        <th class="w-20px text-center"><i class="fas fa-times text-danger cursor-pointer" (click)="deleteSubcategories()" ngbTooltip="Delete all subcategories" container="body" placement="left"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="list cursor-pointer">
                                    <tr *ngFor="let subcategory of subcategories" (click)="goToSubcategory(subcategory)">
                                        <td>{{ subcategory.code }}</td>
                                        <td>{{ subcategory.name }}</td>
                                        <td class="text-center"><i class="fas fa-times cursor-pointer p-1 text-danger" (click)="deleteSubcategory(subcategory, $event)"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer">
                            <pager [headers]="subcategoriesHeaders" (pageChanged)="searchSubcategories($event)"></pager>
                        </div>

                    </div>

                </ng-template>

            </ng-container>

        </nav>

        <div [ngbNavOutlet]="nav" class="mt-1"></div>

    </ng-container>

</ng-container>

<router-outlet></router-outlet>

