/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav.navbar {
   background-color: #f5f5f5 !important;
   border-bottom-color:#b9b9b9 !important;
}
*/
