a.navbar-brand {
    text-align: center;
}

.navbar img.navbar-brand-img {
    max-width: 100%;
    height: inherit;
}

@media (min-width: 992px) {
    .navbar img.navbar-brand-img {
        border-radius: 8px;
    }
}

@media (max-width: 992px) {
    .navbar img.navbar-brand-img {
        max-height: 32px;
        border-radius: 4px;
    }
}

.navbar .navbar-brand {
    border-radius: 5px;
}

.navbar-expand-lg .navbar-nav > .nav-item > .nav-link i:not(.fa-chevron-down) {
    margin-right: 0.5rem;
}
