<div class="input-group" [ngClass]="{ 'disabled': disabled }">
    <input name="questionOption" placeholder="{{placeholder}}" (click)="click()" type="text" tabindex="-1" class="form-control cursor-pointer app-select-input" readonly value="{{getLabel()}}" [disabled]="disabled" />
    <button type="button" class="btn btn-secondary" (click)="click(true)" [ngClass]="{ 'disabled': disabled}">
        <i class="fas fa-fw" [ngClass]="{ 'fa-search': !questionOption && !questionOptions?.length, 'fa-times': !!questionOption || !!questionOptions?.length }"></i>
    </button>
</div>

<question-option-modal #modal (change)="changed($event)" (changes)="changed($event)" [multiple]="multiple" [canRemoveFilters]="canRemoveFilters" [questionOptionGroup]="questionOptionGroup" [showAddNew]="showAddNew" [title]="placeholder"></question-option-modal>
